Repository wazuh/wazuh-packages, pull requests merged in 2018-11, with the labels that each got.

#90 Fix wrong context of .service files in Fedora 28
  rpms/SPECS/3.7.0/wazuh-agent-3.7.0.spec
  rpms/SPECS/3.7.0/wazuh-manager-3.7.0.spec
Labels: bug, rpm

#93 3.7 installation scripts
  debs/SPECS/3.7.0/wazuh-agent/debian/postinst
  debs/SPECS/3.7.0/wazuh-agent/debian/postrm
  debs/SPECS/3.7.0/wazuh-agent/debian/preinst
  debs/SPECS/3.7.0/wazuh-agent/debian/rules
  debs/SPECS/3.7.0/wazuh-api/debian/postinst
  debs/SPECS/3.7.0/wazuh-api/debian/postrm
  debs/SPECS/3.7.0/wazuh-api/debian/preinst
  debs/SPECS/3.7.0/wazuh-api/debian/rules
  debs/SPECS/3.7.0/wazuh-manager/debian/postinst
  debs/SPECS/3.7.0/wazuh-manager/debian/postrm
  debs/SPECS/3.7.0/wazuh-manager/debian/preinst
  debs/SPECS/3.7.0/wazuh-manager/debian/rules
  rpms/SPECS/3.7.0/wazuh-agent-3.7.0.spec
  rpms/SPECS/3.7.0/wazuh-manager-3.7.0.spec
Labels: bug, deb

#94 Fix SELinux check in CentOS 5
  rpms/SPECS/3.7.0/wazuh-agent-3.7.0.spec
  rpms/SPECS/3.7.0/wazuh-manager-3.7.0.spec
Labels: bug, rpm

#95 Add 3.7.1 SPECs
  debs/SPECS/3.7.1/wazuh-agent/debian/changelog
  debs/SPECS/3.7.1/wazuh-agent/debian/compat
  debs/SPECS/3.7.1/wazuh-agent/debian/conffiles
  debs/SPECS/3.7.1/wazuh-agent/debian/control
  debs/SPECS/3.7.1/wazuh-agent/debian/copyright
  debs/SPECS/3.7.1/wazuh-agent/debian/postinst
  debs/SPECS/3.7.1/wazuh-agent/debian/postrm
  debs/SPECS/3.7.1/wazuh-agent/debian/preinst
  debs/SPECS/3.7.1/wazuh-agent/debian/prerm
  debs/SPECS/3.7.1/wazuh-agent/debian/rules
  debs/SPECS/3.7.1/wazuh-agent/debian/source/format
  debs/SPECS/3.7.1/wazuh-agent/debian/templates
  debs/SPECS/3.7.1/wazuh-agent/debian/wazuh-agent.lintian-overrides
  debs/SPECS/3.7.1/wazuh-api/debian/changelog
  debs/SPECS/3.7.1/wazuh-api/debian/compat
  debs/SPECS/3.7.1/wazuh-api/debian/conffiles
  debs/SPECS/3.7.1/wazuh-api/debian/control
  debs/SPECS/3.7.1/wazuh-api/debian/copyright
  debs/SPECS/3.7.1/wazuh-api/debian/postinst
  debs/SPECS/3.7.1/wazuh-api/debian/postrm
  debs/SPECS/3.7.1/wazuh-api/debian/preinst
  debs/SPECS/3.7.1/wazuh-api/debian/prerm
  debs/SPECS/3.7.1/wazuh-api/debian/rules
  debs/SPECS/3.7.1/wazuh-api/debian/source/format
  debs/SPECS/3.7.1/wazuh-api/debian/wazuh-api.init
  debs/SPECS/3.7.1/wazuh-api/debian/wazuh-api.service
  debs/SPECS/3.7.1/wazuh-manager/debian/changelog
  debs/SPECS/3.7.1/wazuh-manager/debian/compat
  debs/SPECS/3.7.1/wazuh-manager/debian/conffiles
  debs/SPECS/3.7.1/wazuh-manager/debian/control
  debs/SPECS/3.7.1/wazuh-manager/debian/copyright
  debs/SPECS/3.7.1/wazuh-manager/debian/postinst
  debs/SPECS/3.7.1/wazuh-manager/debian/postrm
  debs/SPECS/3.7.1/wazuh-manager/debian/preinst
  debs/SPECS/3.7.1/wazuh-manager/debian/prerm
  debs/SPECS/3.7.1/wazuh-manager/debian/rules
  debs/SPECS/3.7.1/wazuh-manager/debian/source/format
  debs/SPECS/3.7.1/wazuh-manager/debian/wazuh-manager.lintian-overrides
  rpms/SPECS/3.7.1/wazuh-agent-3.7.1.spec
  rpms/SPECS/3.7.1/wazuh-api-3.7.1.spec
  rpms/SPECS/3.7.1/wazuh-manager-3.7.1.spec
Labels: enhancement

#105 Fix the upgrade from 3.7.0 to 3.7.1
  rpms/SPECS/3.7.1/wazuh-agent-3.7.1.spec
  rpms/SPECS/3.7.1/wazuh-manager-3.7.1.spec
Labels: bug, rpm

#85 Fix SUSE support for Wazuh v3.7.0 packages
  debs/generate_debian_package.sh
  rpms/SPECS/3.7.0/wazuh-agent-3.7.0.spec
  rpms/SPECS/3.7.0/wazuh-manager-3.7.0.spec
  rpms/SPECS/3.7.1/wazuh-agent-3.7.1.spec
  rpms/SPECS/3.7.1/wazuh-manager-3.7.1.spec
  rpms/generate_rpm_package.sh
Labels: bug, enhancement, rpm

#107 Add USER_CREATE_SSL_CERT option to maanger specs
  debs/SPECS/3.7.1/wazuh-manager/debian/postinst
  debs/SPECS/3.7.1/wazuh-manager/debian/preinst
  debs/SPECS/3.7.1/wazuh-manager/debian/rules
  rpms/SPECS/3.7.1/wazuh-manager-3.7.1.spec
Labels: deb, enhancement, rpm

#108 Avoid the installation of SELinux policy for CentOS 5
  rpms/SPECS/3.7.1/wazuh-agent-3.7.1.spec
  rpms/SPECS/3.7.1/wazuh-manager-3.7.1.spec
Labels: bug, rpm
