Repository wazuh/wazuh-packages, pull requests merged in 2019-07, with the labels that each got.

#219 Fix errors in READMEs and unify help functions
  aix/README.md
  aix/generate_wazuh_packages.sh
  hpux/README.md
  hpux/generate_wazuh_packages.sh
  macos/README.md
  rpms/README.md
  solaris/solaris10/README.md
  solaris/solaris10/generate_wazuh_packages.sh
  solaris/solaris11/README.md
  solaris/solaris11/generate_wazuh_packages.sh
  wpk/README.md
Labels: readme

#221 MacOS installs two packages
  macos/package_files/3.10.0/postinstall.sh
  macos/package_files/3.10.0/preinstall.sh
  macos/package_files/3.9.3/postinstall.sh
  macos/package_files/3.9.3/preinstall.sh
  macos/specs/3.x/wazuh-agent-3.10.0.pkgproj
  macos/specs/3.x/wazuh-agent-3.9.3.pkgproj
Labels: enhancement, macos

#228 J638 bump 394
  aix/SPECS/3.9.4/wazuh-agent-3.9.4-aix.spec
  debs/SPECS/3.9.4/wazuh-agent/debian/changelog
  debs/SPECS/3.9.4/wazuh-agent/debian/compat
  debs/SPECS/3.9.4/wazuh-agent/debian/conffiles
  debs/SPECS/3.9.4/wazuh-agent/debian/control
  debs/SPECS/3.9.4/wazuh-agent/debian/copyright
  debs/SPECS/3.9.4/wazuh-agent/debian/postinst
  debs/SPECS/3.9.4/wazuh-agent/debian/postrm
  debs/SPECS/3.9.4/wazuh-agent/debian/preinst
  debs/SPECS/3.9.4/wazuh-agent/debian/prerm
  debs/SPECS/3.9.4/wazuh-agent/debian/rules
  debs/SPECS/3.9.4/wazuh-agent/debian/source/format
  debs/SPECS/3.9.4/wazuh-agent/debian/templates
  debs/SPECS/3.9.4/wazuh-agent/debian/wazuh-agent.lintian-overrides
  debs/SPECS/3.9.4/wazuh-api/debian/changelog
  debs/SPECS/3.9.4/wazuh-api/debian/compat
  debs/SPECS/3.9.4/wazuh-api/debian/conffiles
  debs/SPECS/3.9.4/wazuh-api/debian/control
  debs/SPECS/3.9.4/wazuh-api/debian/copyright
  debs/SPECS/3.9.4/wazuh-api/debian/postinst
  debs/SPECS/3.9.4/wazuh-api/debian/postrm
  debs/SPECS/3.9.4/wazuh-api/debian/preinst
  debs/SPECS/3.9.4/wazuh-api/debian/prerm
  debs/SPECS/3.9.4/wazuh-api/debian/rules
  debs/SPECS/3.9.4/wazuh-api/debian/source/format
  debs/SPECS/3.9.4/wazuh-api/debian/wazuh-api.init
  debs/SPECS/3.9.4/wazuh-api/debian/wazuh-api.service
  debs/SPECS/3.9.4/wazuh-manager/debian/changelog
  debs/SPECS/3.9.4/wazuh-manager/debian/compat
  debs/SPECS/3.9.4/wazuh-manager/debian/conffiles
  debs/SPECS/3.9.4/wazuh-manager/debian/control
  debs/SPECS/3.9.4/wazuh-manager/debian/copyright
  debs/SPECS/3.9.4/wazuh-manager/debian/postinst
  debs/SPECS/3.9.4/wazuh-manager/debian/postrm
  debs/SPECS/3.9.4/wazuh-manager/debian/preinst
  debs/SPECS/3.9.4/wazuh-manager/debian/prerm
  debs/SPECS/3.9.4/wazuh-manager/debian/rules
  debs/SPECS/3.9.4/wazuh-manager/debian/source/format
  debs/SPECS/3.9.4/wazuh-manager/debian/wazuh-manager.lintian-overrides
  macos/specs/3.x/wazuh-agent-3.9.4.pkgproj
  rpms/SPECS/3.9.4/wazuh-agent-3.9.4.spec
  rpms/SPECS/3.9.4/wazuh-api-3.9.4.spec
  rpms/SPECS/3.9.4/wazuh-manager-3.9.4.spec
  solaris/solaris11/SPECS/template_agent_v3.9.4.json
Labels: enhancement, package

#213 Tolerate this directory being a mount
  debs/SPECS/3.10.0/wazuh-api/debian/postrm
Labels: community, deb, enhancement

#225 pkginfo not updated solaris10
  solaris/solaris10/generate_wazuh_packages.sh
  solaris/solaris10/pkginfo
Labels: package, solaris

#230 Fix missing SCA files on Debian 10 and RHEL 8
  debs/SPECS/3.10.0/wazuh-agent/debian/postinst
  debs/SPECS/3.9.4/wazuh-agent/debian/postinst
  rpms/SPECS/3.10.0/wazuh-agent-3.10.0.spec
  rpms/SPECS/3.9.4/wazuh-agent-3.9.4.spec
Labels: bug, deb, rpm

#227 Call deluser/delgroup from purge
  debs/SPECS/3.10.0/wazuh-agent/debian/postrm
  debs/SPECS/3.10.0/wazuh-manager/debian/postrm
  debs/SPECS/3.9.4/wazuh-agent/debian/postrm
  debs/SPECS/3.9.4/wazuh-manager/debian/postrm
Labels: enhancement, package

#237 Update file permissions of wazuh-packages
  aix/SPECS/3.10.0/wazuh-agent-3.10.0-aix.spec
  aix/SPECS/3.9.4/wazuh-agent-3.9.4-aix.spec
  debs/SPECS/3.10.0/wazuh-manager/debian/postinst
  debs/SPECS/3.9.4/wazuh-manager/debian/postinst
  rpms/SPECS/3.10.0/wazuh-agent-3.10.0.spec
  rpms/SPECS/3.10.0/wazuh-manager-3.10.0.spec
  rpms/SPECS/3.9.4/wazuh-agent-3.9.4.spec
  rpms/SPECS/3.9.4/wazuh-manager-3.9.4.spec
  solaris/solaris11/SPECS/template_agent_v3.10.0.json
  solaris/solaris11/SPECS/template_agent_v3.9.4.json
Labels: enhancement, package

#223 OVA creation elastic 7
  ova/.gitignore
  ova/Config_files/api_config.json
  ova/Config_files/default_index.json
  ova/Config_files/elasticsearch.conf
  ova/Config_files/elasticsearch.jvm
  ova/Config_files/elasticsearch.yml
  ova/Config_files/geoip.json
  ova/Config_files/kibana
  ova/Config_files/kibana.yml
  ova/Config_files/logstash.jvm
  ova/Config_files/logstash.yml
  ova/Config_files/ossec.conf
  ova/Libraries/elastic_functions.sh
  ova/Libraries/wazuh_functions.sh
  ova/generate_ova.sh
  ova/provision.sh
Labels: enhancement, ova, package

#242 Restore the permissions of the files after upgrading the packages
  aix/SPECS/3.10.0/wazuh-agent-3.10.0-aix.spec
  aix/SPECS/3.9.4/wazuh-agent-3.9.4-aix.spec
  debs/SPECS/3.10.0/wazuh-agent/debian/postinst
  debs/SPECS/3.10.0/wazuh-manager/debian/postinst
  debs/SPECS/3.9.4/wazuh-agent/debian/postinst
  debs/SPECS/3.9.4/wazuh-manager/debian/postinst
  macos/package_files/3.10.0/postinstall.sh
  macos/package_files/3.9.4/postinstall.sh
  rpms/SPECS/3.10.0/wazuh-agent-3.10.0.spec
  rpms/SPECS/3.10.0/wazuh-manager-3.10.0.spec
  rpms/SPECS/3.9.4/wazuh-agent-3.9.4.spec
  rpms/SPECS/3.9.4/wazuh-manager-3.9.4.spec
Labels: bug, package

#245 Include Wazuh and Elastic repos in the OVA
  ova/Libraries/elastic_functions.sh
  ova/Libraries/wazuh_functions.sh
  ova/generate_ova.sh
Labels: bug, ova

#246 Fix minor issues in OVA
  ova/Config_files/ossec.conf
  ova/Libraries/elastic_functions.sh
  ova/Libraries/wazuh_functions.sh
  ova/generate_ova.sh
  ova/provision.sh
Labels: bug, ova
