Repository wazuh/wazuh-packages, pull requests merged in 2019-02, with the labels that each got.

#122 Add CPython v3.7.2 to Wazuh packages
  debs/Debian/amd64/Dockerfile
  debs/Debian/i386/Dockerfile
  debs/SPECS/3.9.0/wazuh-api/debian/postinst
  debs/SPECS/3.9.0/wazuh-manager/debian/rules
  rpms/CentOS/6/i386/Dockerfile
  rpms/CentOS/6/x86_64/Dockerfile
  rpms/SPECS/3.8.0/wazuh-manager-3.8.0.spec
  rpms/SPECS/3.9.0/wazuh-api-3.9.0.spec
  rpms/SPECS/3.9.0/wazuh-manager-3.9.0.spec
  rpms/generate_rpm_package.sh
  rpms/generate_wazuh_rpm.sh
Labels: deb, enhancement, rpm

#128 Modified rules file for including all templates
  debs/SPECS/3.9.0/wazuh-agent/debian/rules
  debs/SPECS/3.9.0/wazuh-manager/debian/rules
Labels: bug, deb

#129 Removed nullification of ps lines
  debs/SPECS/3.9.0/wazuh-api/debian/postrm
  debs/SPECS/3.9.0/wazuh-api/debian/prerm
Labels: deb, enhancement

#130 Install only needed configuration assessment files
  rpms/SPECS/3.9.0/wazuh-agent-3.9.0.spec
  rpms/SPECS/3.9.0/wazuh-manager-3.9.0.spec
Labels: bug, rpm
