Repository wazuh/wazuh-packages, pull requests merged in 2019-12, with the labels that each got.

#368 Service stop fix AIX upgrades
  aix/SPECS/3.11.0/wazuh-agent-3.11.0-aix.spec
  aix/SPECS/3.12.0/wazuh-agent-3.12.0-aix.spec
Labels: aix, bug

#369 Added support to build RPM packges for ppc64le architecture
  rpms/CentOS/7/ppc64le/Dockerfile
  rpms/SPECS/3.10.2/wazuh-agent-3.10.2.spec
  rpms/SPECS/3.10.2/wazuh-manager-3.10.2.spec
  rpms/SPECS/3.11.0/wazuh-agent-3.11.0.spec
  rpms/SPECS/3.11.0/wazuh-manager-3.11.0.spec
  rpms/SPECS/3.12.0/wazuh-agent-3.12.0.spec
  rpms/SPECS/3.12.0/wazuh-manager-3.12.0.spec
  rpms/generate_rpm_package.sh
Labels: enhancement, rpm

#373 Fixed the line used to list the package name
  debs/generate_debian_package.sh
  rpms/generate_rpm_package.sh
  windows/generate_compiled_windows_agent.sh
Labels: bug, build-tools
