Repository wazuh/wazuh-packages, pull requests merged in 2019-10, with the labels that each got.

#319 Add a tool to notarize macOS package
  macos/README.md
  macos/entitlements.plist
  macos/generate_wazuh_packages.sh
Labels: build-tools, enhancement, macos

#324 Fixed service's installation path for CentOS 8
  rpms/SPECS/3.11.0/wazuh-agent-3.11.0.spec
  rpms/SPECS/3.11.0/wazuh-manager-3.11.0.spec
Labels: bug, rpm

#336 Revert changes in Solaris 10 compilation flags and add new flag to Solaris 11
  solaris/solaris10/generate_wazuh_packages.sh
  solaris/solaris11/generate_wazuh_packages.sh
Labels: bug, enhancement, solaris

#342 Update Solaris 11 SPECS for version 3.11.0
  solaris/solaris11/SPECS/template_agent_v3.11.0.json
Labels: enhancement, solaris

#340 Added relabel file objects suffixe in docker run
  debs/generate_debian_package.sh
  rpms/generate_rpm_package.sh
  splunkapp/generate_wazuh_splunk_app.sh
  wazuhapp/generate_wazuh_app.sh
  wpk/generate_wpk_package.sh
Labels: bug, build-tools

#346 Add v3.12.0 specs
  aix/SPECS/3.11.0/wazuh-agent-3.11.0-aix.spec
  aix/SPECS/3.12.0/wazuh-agent-3.12.0-aix.spec
  debs/SPECS/3.11.0/wazuh-agent/debian/changelog
  debs/SPECS/3.11.0/wazuh-api/debian/changelog
  debs/SPECS/3.11.0/wazuh-manager/debian/changelog
  debs/SPECS/3.12.0/wazuh-agent/debian/changelog
  debs/SPECS/3.12.0/wazuh-agent/debian/compat
  debs/SPECS/3.12.0/wazuh-agent/debian/conffiles
  debs/SPECS/3.12.0/wazuh-agent/debian/control
  debs/SPECS/3.12.0/wazuh-agent/debian/copyright
  debs/SPECS/3.12.0/wazuh-agent/debian/postinst
  debs/SPECS/3.12.0/wazuh-agent/debian/postrm
  debs/SPECS/3.12.0/wazuh-agent/debian/preinst
  debs/SPECS/3.12.0/wazuh-agent/debian/prerm
  debs/SPECS/3.12.0/wazuh-agent/debian/rules
  debs/SPECS/3.12.0/wazuh-agent/debian/source/format
  debs/SPECS/3.12.0/wazuh-agent/debian/templates
  debs/SPECS/3.12.0/wazuh-agent/debian/wazuh-agent.lintian-overrides
  debs/SPECS/3.12.0/wazuh-api/debian/changelog
  debs/SPECS/3.12.0/wazuh-api/debian/compat
  debs/SPECS/3.12.0/wazuh-api/debian/conffiles
  debs/SPECS/3.12.0/wazuh-api/debian/control
  debs/SPECS/3.12.0/wazuh-api/debian/copyright
  debs/SPECS/3.12.0/wazuh-api/debian/postinst
  debs/SPECS/3.12.0/wazuh-api/debian/postrm
  debs/SPECS/3.12.0/wazuh-api/debian/preinst
  debs/SPECS/3.12.0/wazuh-api/debian/prerm
  debs/SPECS/3.12.0/wazuh-api/debian/rules
  debs/SPECS/3.12.0/wazuh-api/debian/source/format
  debs/SPECS/3.12.0/wazuh-api/debian/wazuh-api.init
  debs/SPECS/3.12.0/wazuh-api/debian/wazuh-api.service
  debs/SPECS/3.12.0/wazuh-manager/debian/changelog
  debs/SPECS/3.12.0/wazuh-manager/debian/compat
  debs/SPECS/3.12.0/wazuh-manager/debian/conffiles
  debs/SPECS/3.12.0/wazuh-manager/debian/control
  debs/SPECS/3.12.0/wazuh-manager/debian/copyright
  debs/SPECS/3.12.0/wazuh-manager/debian/postinst
  debs/SPECS/3.12.0/wazuh-manager/debian/postrm
  debs/SPECS/3.12.0/wazuh-manager/debian/preinst
  debs/SPECS/3.12.0/wazuh-manager/debian/prerm
  debs/SPECS/3.12.0/wazuh-manager/debian/rules
  debs/SPECS/3.12.0/wazuh-manager/debian/source/format
  debs/SPECS/3.12.0/wazuh-manager/debian/wazuh-manager.lintian-overrides
  macos/package_files/3.12.0/build.sh
  macos/package_files/3.12.0/postinstall.sh
  macos/package_files/3.12.0/preinstall.sh
  macos/specs/3.x/wazuh-agent-3.12.0.pkgproj
  rpms/SPECS/3.11.0/wazuh-agent-3.11.0.spec
  rpms/SPECS/3.11.0/wazuh-api-3.11.0.spec
  rpms/SPECS/3.11.0/wazuh-manager-3.11.0.spec
  rpms/SPECS/3.12.0/wazuh-agent-3.12.0.spec
  rpms/SPECS/3.12.0/wazuh-api-3.12.0.spec
  rpms/SPECS/3.12.0/wazuh-manager-3.12.0.spec
  solaris/solaris11/SPECS/template_agent_v3.12.0.json
Labels: enhancement

#329 Remove repository folder in build package startup
  debs/generate_debian_package.sh
  macos/generate_wazuh_packages.sh
  rpms/generate_rpm_package.sh
  solaris/solaris10/generate_wazuh_packages.sh
  solaris/solaris11/generate_wazuh_packages.sh
  splunkapp/generate_wazuh_splunk_app.sh
  wazuhapp/generate_wazuh_app.sh
  wpk/generate_wpk_package.sh
Labels: package

#348 Fix regex that checks for 2.x version
  macos/generate_wazuh_packages.sh
Labels: bug, build-tools, macos

#355 Make HP-UX build compatible with C99
  hpux/generate_wazuh_packages.sh
Labels: build-tools, enhancement, hp-ux

#353 Enable HTTPS by default in Wazuh API
  debs/SPECS/3.12.0/wazuh-api/debian/postinst
  debs/SPECS/3.12.0/wazuh-api/debian/rules
  rpms/SPECS/3.12.0/wazuh-api-3.12.0.spec
Labels: enhancement

#322 Add option to generate source rpm package
  rpms/README.md
  rpms/build.sh
  rpms/generate_rpm_package.sh
Labels: enhancement, rpm
