Repository wazuh/wazuh-packages, pull requests merged in 2019-08, with the labels that each got.

#252 Enhance git clone orders
  debs/generate_debian_package.sh
  rpms/generate_rpm_package.sh
  splunkapp/generate_wazuh_splunk_app.sh
  wazuhapp/generate_wazuh_app.sh
Labels: enhancement, package

#249 WPK don't add the templates
  wpk/run.sh
Labels: bug, wpk

#258 Fix Authd configuration file
  ova/Config_files/ossec.conf
Labels: bug, ova

#259 Added v3.9.5 packages specs
  aix/SPECS/3.9.5/wazuh-agent-3.9.5-aix.spec
  debs/SPECS/3.9.5/wazuh-agent/debian/changelog
  debs/SPECS/3.9.5/wazuh-agent/debian/compat
  debs/SPECS/3.9.5/wazuh-agent/debian/conffiles
  debs/SPECS/3.9.5/wazuh-agent/debian/control
  debs/SPECS/3.9.5/wazuh-agent/debian/copyright
  debs/SPECS/3.9.5/wazuh-agent/debian/postinst
  debs/SPECS/3.9.5/wazuh-agent/debian/postrm
  debs/SPECS/3.9.5/wazuh-agent/debian/preinst
  debs/SPECS/3.9.5/wazuh-agent/debian/prerm
  debs/SPECS/3.9.5/wazuh-agent/debian/rules
  debs/SPECS/3.9.5/wazuh-agent/debian/source/format
  debs/SPECS/3.9.5/wazuh-agent/debian/templates
  debs/SPECS/3.9.5/wazuh-agent/debian/wazuh-agent.lintian-overrides
  debs/SPECS/3.9.5/wazuh-api/debian/changelog
  debs/SPECS/3.9.5/wazuh-api/debian/compat
  debs/SPECS/3.9.5/wazuh-api/debian/conffiles
  debs/SPECS/3.9.5/wazuh-api/debian/control
  debs/SPECS/3.9.5/wazuh-api/debian/copyright
  debs/SPECS/3.9.5/wazuh-api/debian/postinst
  debs/SPECS/3.9.5/wazuh-api/debian/postrm
  debs/SPECS/3.9.5/wazuh-api/debian/preinst
  debs/SPECS/3.9.5/wazuh-api/debian/prerm
  debs/SPECS/3.9.5/wazuh-api/debian/rules
  debs/SPECS/3.9.5/wazuh-api/debian/source/format
  debs/SPECS/3.9.5/wazuh-api/debian/wazuh-api.init
  debs/SPECS/3.9.5/wazuh-api/debian/wazuh-api.service
  debs/SPECS/3.9.5/wazuh-manager/debian/changelog
  debs/SPECS/3.9.5/wazuh-manager/debian/compat
  debs/SPECS/3.9.5/wazuh-manager/debian/conffiles
  debs/SPECS/3.9.5/wazuh-manager/debian/control
  debs/SPECS/3.9.5/wazuh-manager/debian/copyright
  debs/SPECS/3.9.5/wazuh-manager/debian/postinst
  debs/SPECS/3.9.5/wazuh-manager/debian/postrm
  debs/SPECS/3.9.5/wazuh-manager/debian/preinst
  debs/SPECS/3.9.5/wazuh-manager/debian/prerm
  debs/SPECS/3.9.5/wazuh-manager/debian/rules
  debs/SPECS/3.9.5/wazuh-manager/debian/source/format
  debs/SPECS/3.9.5/wazuh-manager/debian/wazuh-manager.lintian-overrides
  macos/package_files/3.9.5/build.sh
  macos/package_files/3.9.5/postinstall.sh
  macos/package_files/3.9.5/preinstall.sh
  macos/specs/3.x/wazuh-agent-3.9.5.pkgproj
  rpms/SPECS/3.9.5/wazuh-agent-3.9.5.spec
  rpms/SPECS/3.9.5/wazuh-api-3.9.5.spec
  rpms/SPECS/3.9.5/wazuh-manager-3.9.5.spec
  solaris/solaris11/SPECS/template_agent_v3.9.5.json
Labels: enhancement, package

#261 Remove Solaris11 dependencies
  solaris/solaris11/generate_wazuh_packages.sh
Labels: enhancement, solaris

#192 Generate checksum
  .gitignore
  aix/README.md
  aix/generate_wazuh_packages.sh
  debs/Debian/amd64/Dockerfile
  debs/Debian/i386/Dockerfile
  debs/README.md
  debs/build.sh
  debs/generate_debian_package.sh
  hpux/generate_wazuh_packages.sh
  macos/generate_wazuh_packages.sh
  ova/generate_ova.sh
  rpms/CentOS/6/i386/Dockerfile
  rpms/CentOS/6/x86_64/Dockerfile
  rpms/README.md
  rpms/build.sh
  rpms/generate_rpm_package.sh
  solaris/package_generation/Vagrantfile
  solaris/package_generation/rm_machines.sh
  solaris/package_generation/src/generate_packages.sh
  solaris/packer/scripts/solaris/postinstall.sh
  solaris/packer/scripts/solaris/vmtools.sh
  solaris/solaris10/README.md
  solaris/solaris10/checkinstall.sh
  solaris/solaris10/generate_wazuh_packages.sh
  solaris/solaris10/postinstall.sh
  solaris/solaris10/postremove.sh
  solaris/solaris10/preinstall.sh
  solaris/solaris10/preremove.sh
  solaris/solaris10/solaris10_patch.sh
  solaris/solaris10/uninstall.sh
  solaris/solaris11/README.md
  solaris/solaris11/generate_wazuh_packages.sh
  solaris/solaris11/uninstall.sh
  splunkapp/Docker/build.sh
  splunkapp/README.md
  splunkapp/generate_wazuh_splunk_app.sh
  wazuhapp/Docker/build.sh
  wazuhapp/README.md
  wazuhapp/generate_wazuh_app.sh
  wpk/README.md
  wpk/generate_wpk_package.sh
  wpk/run.sh
  wpk/windows/Dockerfile
Labels: build-tools, enhancement, status/stale

#263 Fixed typo
  ova/README.md
Labels: operations

#265 Wrong elastic version in OVA readme
  ova/README.md
Labels: ova, readme

#267 Rework internal logic and structure of SCA
  debs/SPECS/3.10.0/wazuh-agent/debian/postinst
  debs/SPECS/3.10.0/wazuh-agent/debian/rules
  debs/SPECS/3.10.0/wazuh-manager/debian/postinst
  debs/SPECS/3.10.0/wazuh-manager/debian/rules
  debs/SPECS/3.11.0/wazuh-agent/debian/postinst
  debs/SPECS/3.11.0/wazuh-agent/debian/rules
  debs/SPECS/3.11.0/wazuh-manager/debian/postinst
  debs/SPECS/3.11.0/wazuh-manager/debian/rules
  macos/package_files/3.10.0/build.sh
  macos/package_files/3.10.0/postinstall.sh
  macos/package_files/3.11.0/build.sh
  macos/package_files/3.11.0/postinstall.sh
  rpms/SPECS/3.10.0/wazuh-agent-3.10.0.spec
  rpms/SPECS/3.10.0/wazuh-manager-3.10.0.spec
  rpms/SPECS/3.11.0/wazuh-agent-3.11.0.spec
  rpms/SPECS/3.11.0/wazuh-manager-3.11.0.spec
Labels: aix, deb, enhancement, macos, rpm

#270 Delete old .save files in Debian installation
  debs/SPECS/3.10.0/wazuh-agent/debian/postrm
  debs/SPECS/3.10.0/wazuh-manager/debian/postrm
  debs/SPECS/3.11.0/wazuh-agent/debian/postrm
  debs/SPECS/3.11.0/wazuh-manager/debian/postrm
Labels: bug, deb

#272 Fix filebeat module in OVA
  .gitignore
  ova/Libraries/elastic_functions.sh
  ova/generate_ova.sh
Labels: bug, ova

#274 273 redundant gmake
  solaris/solaris11/generate_wazuh_packages.sh
Labels: bug, build-tools, solaris
