Repository wazuh/wazuh-packages, pull requests merged in 2019-06, with the labels that each got.

#185 Add Ubuntu 12.04 specific policies
  debs/SPECS/3.10.0/wazuh-agent/debian/postinst
  debs/SPECS/3.10.0/wazuh-agent/debian/rules
  debs/SPECS/3.9.2/wazuh-agent/debian/postinst
  debs/SPECS/3.9.2/wazuh-agent/debian/rules
Labels: deb, enhancement

#190 Publish HP-UX package generation
  README.md
  aix/README.md
  debs/README.md
  hpux/README.md
  hpux/depothelper-2.10-hppa_32-11.31.depot
  hpux/generate_wazuh_packages.sh
  macos/README.md
  ova/README.md
  rpms/README.md
  splunkapp/README.md
  wpk/README.md
Labels: hp-ux, package

#191 Publish Solaris 11 package generation
  aix/README.md
  debs/README.md
  macos/README.md
  ova/README.md
  rpms/README.md
  solaris/packer/README.md
  solaris/packer/package_generation/vagrant/Vagrantfile
  solaris/packer/package_generation/vagrant/src/generate_packages.sh
  solaris/solaris10/README.md
  solaris/solaris10/generate_wazuh_packages.sh
  solaris/solaris11/README.md
  solaris/solaris11/SPECS/template_agent_v3.10.0.json
  solaris/solaris11/SPECS/template_agent_v3.8.0.json
  solaris/solaris11/SPECS/template_agent_v3.8.1.json
  solaris/solaris11/SPECS/template_agent_v3.8.2.json
  solaris/solaris11/SPECS/template_agent_v3.9.0.json
  solaris/solaris11/SPECS/template_agent_v3.9.1.json
  solaris/solaris11/SPECS/template_agent_v3.9.2.json
  solaris/solaris11/generate_wazuh_packages.sh
  solaris/solaris11/solaris_fix.py
  solaris/solaris11/uninstall.sh
  solaris/solaris11/wazuh-agent.mog-template
  splunkapp/README.md
  wazuhapp/README.md
  wpk/README.md
Labels: package, solaris

#188 Publish solaris10 pacakge generation
  README.md
  aix/README.md
  debs/README.md
  hpux/README.md
  macos/README.md
  ova/README.md
  rpms/README.md
  solaris/README.md
  solaris/package_generation/.vagrant/rgloader/loader.rb
  solaris/package_generation/README.md
  solaris/package_generation/Vagrantfile
  solaris/package_generation/rm_machines.sh
  solaris/package_generation/src/generate_packages.sh
  solaris/packer/README.md
  solaris/packer/scripts/solaris/postinstall.sh
  solaris/packer/scripts/solaris/vmtools.sh
  solaris/packer/solaris10.json
  solaris/packer/solaris11_3.json
  solaris/solaris10/README.md
  solaris/solaris10/checkinstall.sh
  solaris/solaris10/generate_wazuh_packages.sh
  solaris/solaris10/pkginfo
  solaris/solaris10/postinstall.sh
  solaris/solaris10/postremove.sh
  solaris/solaris10/preinstall.sh
  solaris/solaris10/preremove.sh
  solaris/solaris10/solaris10_patch.sh
  solaris/solaris10/uninstall.sh
  solaris/solaris11/README.md
  solaris/solaris11/SPECS/template_agent_v3.10.0.json
  solaris/solaris11/SPECS/template_agent_v3.5.0.json
  solaris/solaris11/SPECS/template_agent_v3.6.0.json
  solaris/solaris11/SPECS/template_agent_v3.6.1.json
  solaris/solaris11/SPECS/template_agent_v3.7.0.json
  solaris/solaris11/SPECS/template_agent_v3.7.1.json
  solaris/solaris11/SPECS/template_agent_v3.7.2.json
  solaris/solaris11/SPECS/template_agent_v3.8.0.json
  solaris/solaris11/SPECS/template_agent_v3.8.1.json
  solaris/solaris11/SPECS/template_agent_v3.8.2.json
  solaris/solaris11/SPECS/template_agent_v3.9.0.json
  solaris/solaris11/SPECS/template_agent_v3.9.1.json
  solaris/solaris11/SPECS/template_agent_v3.9.2.json
  solaris/solaris11/generate_wazuh_packages.sh
  solaris/solaris11/solaris_fix.py
  solaris/solaris11/uninstall.sh
  solaris/solaris11/wazuh-agent.mog-template
  splunkapp/README.md
  wazuhapp/README.md
  wpk/README.md
Labels: package, solaris

#194 Unify the generation scripts for deb and rpm packages
  debs/generate_debian_package.sh
  debs/generate_wazuh_debs.sh
  rpms/generate_rpm_package.sh
  rpms/generate_wazuh_rpm.sh
Labels: build-tools, enhancement

#206 Added exit to docker build & docker run on rpm & deb
  debs/generate_debian_package.sh
  rpms/generate_rpm_package.sh
Labels: bug, deb, package, rpm

#193 Fix .ssh folder permissions
  aix/SPECS/3.10.0/wazuh-agent-3.10.0-aix.spec
  macos/package_files/3.10.0/postinstall.sh
  macos/package_files/3.9.3/postinstall.sh
  rpms/SPECS/3.10.0/wazuh-agent-3.10.0.spec
  rpms/SPECS/3.10.0/wazuh-manager-3.10.0.spec
  rpms/SPECS/3.9.3/wazuh-agent-3.9.3.spec
  rpms/SPECS/3.9.3/wazuh-manager-3.9.3.spec
  solaris/packer/scripts/solaris/postinstall.sh
  solaris/solaris11/SPECS/template_agent_v3.10.0.json
  solaris/solaris11/SPECS/template_agent_v3.9.3.json
Labels: operations

#205 Removed unused files in macOS package generation
  macos/package_files/Install_wazuh_notes.rtf
  macos/package_files/README.md
  macos/package_files/introduction.txt
Labels: enhancement, macos

#215 Create deb and rpm packages with debugging symbols
  debs/README.md
  debs/build.sh
  rpms/CentOS/6/i386/Dockerfile
  rpms/CentOS/6/x86_64/Dockerfile
  rpms/README.md
  rpms/SPECS/3.10.0/wazuh-agent-3.10.0.spec
  rpms/SPECS/3.10.0/wazuh-manager-3.10.0.spec
  rpms/SPECS/3.9.3/wazuh-agent-3.9.3.spec
  rpms/SPECS/3.9.3/wazuh-manager-3.9.3.spec
  rpms/build.sh
  rpms/generate_rpm_package.sh
Labels: deb, enhancement, rpm

#217 Fix AIX startup service
  aix/SPECS/3.10.0/wazuh-agent-3.10.0-aix.spec
  aix/SPECS/3.9.2/wazuh-agent-3.9.2-aix.spec
Labels: aix, bug

#220 Build Solaris 10 packages using static Wazuh library
  solaris/solaris10/generate_wazuh_packages.sh
Labels: solaris

#207 Adding power support to build wazuh .deb packages
  debs/Debian/ppc64le/Dockerfile
  debs/build.sh
  debs/generate_debian_package.sh
Labels: build-tools, deb, enhancement
