Repository wazuh/wazuh-packages, pull requests merged in 2019-09, with the labels that each got.

#276 Fix error with lingering directories in aix
  aix/SPECS/3.10.0/wazuh-agent-3.10.0-aix.spec
  aix/SPECS/3.11.0/wazuh-agent-3.11.0-aix.spec
Labels: aix, bug

#278 Remove lingering files from packages
  aix/SPECS/3.10.0/wazuh-agent-3.10.0-aix.spec
  aix/SPECS/3.11.0/wazuh-agent-3.11.0-aix.spec
  debs/SPECS/3.10.0/wazuh-agent/debian/postrm
  debs/SPECS/3.10.0/wazuh-agent/debian/prerm
  debs/SPECS/3.10.0/wazuh-manager/debian/postrm
  debs/SPECS/3.11.0/wazuh-agent/debian/postrm
  debs/SPECS/3.11.0/wazuh-manager/debian/postrm
  debs/SPECS/3.11.0/wazuh-manager/debian/prerm
  rpms/SPECS/3.10.0/wazuh-agent-3.10.0.spec
  rpms/SPECS/3.10.0/wazuh-manager-3.10.0.spec
  rpms/SPECS/3.11.0/wazuh-agent-3.11.0.spec
  rpms/SPECS/3.11.0/wazuh-manager-3.11.0.spec
Labels: aix, bug, deb, rpm

#281 Debian packages overwrite ossec.log file while upgrading
  debs/SPECS/3.10.0/wazuh-agent/debian/postinst
  debs/SPECS/3.10.0/wazuh-agent/debian/rules
  debs/SPECS/3.10.0/wazuh-manager/debian/postinst
  debs/SPECS/3.10.0/wazuh-manager/debian/rules
  debs/SPECS/3.11.0/wazuh-agent/debian/postinst
  debs/SPECS/3.11.0/wazuh-agent/debian/rules
  debs/SPECS/3.11.0/wazuh-manager/debian/postinst
  debs/SPECS/3.11.0/wazuh-manager/debian/rules
Labels: bug, deb

#290 Removed unnecessary ssh-keyscan command
  wpk/unified/linux/Dockerfile
  wpk/windows/Dockerfile
Labels: build-tools, enhancement, wpk

#288 Fixed error messages in the building of the Solaris 10 package
  solaris/solaris10/generate_wazuh_packages.sh
Labels: bug, build-tools, solaris

#294 Added error codes when compilation fails for Solaris
  solaris/solaris10/generate_wazuh_packages.sh
  solaris/solaris11/generate_wazuh_packages.sh
Labels: bug, build-tools, solaris

#298 Fix macOS SCA files inconsistency
  debs/SPECS/3.10.0/wazuh-agent/debian/rules
  debs/SPECS/3.10.0/wazuh-manager/debian/rules
  debs/SPECS/3.11.0/wazuh-agent/debian/rules
  debs/SPECS/3.11.0/wazuh-manager/debian/rules
  macos/package_files/3.10.0/build.sh
  macos/package_files/3.11.0/build.sh
  rpms/SPECS/3.10.0/wazuh-agent-3.10.0.spec
  rpms/SPECS/3.10.0/wazuh-manager-3.10.0.spec
  rpms/SPECS/3.11.0/wazuh-agent-3.11.0.spec
  rpms/SPECS/3.11.0/wazuh-manager-3.11.0.spec
Labels: deb, enhancement, macos, rpm

#299 Solaris10 SPARC wrong installation output
  solaris/solaris10/checkinstall.sh
  solaris/solaris10/generate_wazuh_packages.sh
Labels: bug, solaris

#305 Updated default help installation path
  splunkapp/README.md
  splunkapp/generate_wazuh_splunk_app.sh
  wazuhapp/README.md
Labels: bug, build-tools

#312 Stop services before exporting OVA
  ova/generate_ova.sh
  ova/provision.sh
Labels: bug, ova
