Repository wazuh/wazuh-packages, pull requests merged in 2019-04, with the labels that each got.

#147 Fix Debian packages repository to build debian packages with archives
  debs/Debian/amd64/Dockerfile
  debs/Debian/i386/Dockerfile
Labels: bug, build-tools, deb

#149 Avoid duplicate ID errors while restarting the manager
  rpms/SPECS/3.9.0/wazuh-manager-3.9.0.spec
Labels: bug, rpm

#148 Removed unused directory /ossec/queue/agents from installation
  rpms/SPECS/3.9.0/wazuh-agent-3.9.0.spec
  rpms/SPECS/3.9.0/wazuh-manager-3.9.0.spec
Labels: deb, enhancement, rpm

#151 Add new SCA files for Debian and Ubuntu hosts
  debs/SPECS/3.9.0/wazuh-agent/debian/postinst
  debs/SPECS/3.9.0/wazuh-agent/debian/rules
Labels: deb, enhancement

#153 Fix wrong file permissions in RPM packages
  rpms/SPECS/3.9.0/wazuh-agent-3.9.0.spec
  rpms/SPECS/3.9.0/wazuh-manager-3.9.0.spec
Labels: bug, rpm

#156 Wazuh agent RPM package generation be adapted for i386 compilation
  rpms/SPECS/3.9.0/wazuh-agent-3.9.0.spec
Labels: i386, rpm

#155 .template.db must be removed by wazuh-db
  debs/SPECS/3.9.0/wazuh-manager/debian/postinst
Labels: bug, deb

#158 Fix python libraries and binaries permissions on postinstall in Manager
  debs/SPECS/3.9.0/wazuh-manager/debian/postinst
Labels: deb

#161 Remove unncessary .rpmnew files after upgrading to v3.9.0
  rpms/SPECS/3.9.0/wazuh-agent-3.9.0.spec
  rpms/SPECS/3.9.0/wazuh-manager-3.9.0.spec
Labels: bug, rpm
