Repository wazuh/wazuh-packages, pull requests merged in 2019-05, with the labels that each got.

#165 Add Deb and RPM specs for Wazuh v3.10.0
  debs/SPECS/3.10.0/wazuh-agent/debian/changelog
  debs/SPECS/3.10.0/wazuh-agent/debian/compat
  debs/SPECS/3.10.0/wazuh-agent/debian/conffiles
  debs/SPECS/3.10.0/wazuh-agent/debian/control
  debs/SPECS/3.10.0/wazuh-agent/debian/copyright
  debs/SPECS/3.10.0/wazuh-agent/debian/postinst
  debs/SPECS/3.10.0/wazuh-agent/debian/postrm
  debs/SPECS/3.10.0/wazuh-agent/debian/preinst
  debs/SPECS/3.10.0/wazuh-agent/debian/prerm
  debs/SPECS/3.10.0/wazuh-agent/debian/rules
  debs/SPECS/3.10.0/wazuh-agent/debian/source/format
  debs/SPECS/3.10.0/wazuh-agent/debian/templates
  debs/SPECS/3.10.0/wazuh-agent/debian/wazuh-agent.lintian-overrides
  debs/SPECS/3.10.0/wazuh-api/debian/changelog
  debs/SPECS/3.10.0/wazuh-api/debian/compat
  debs/SPECS/3.10.0/wazuh-api/debian/conffiles
  debs/SPECS/3.10.0/wazuh-api/debian/control
  debs/SPECS/3.10.0/wazuh-api/debian/copyright
  debs/SPECS/3.10.0/wazuh-api/debian/postinst
  debs/SPECS/3.10.0/wazuh-api/debian/postrm
  debs/SPECS/3.10.0/wazuh-api/debian/preinst
  debs/SPECS/3.10.0/wazuh-api/debian/prerm
  debs/SPECS/3.10.0/wazuh-api/debian/rules
  debs/SPECS/3.10.0/wazuh-api/debian/source/format
  debs/SPECS/3.10.0/wazuh-api/debian/wazuh-api.init
  debs/SPECS/3.10.0/wazuh-api/debian/wazuh-api.service
  debs/SPECS/3.10.0/wazuh-manager/debian/changelog
  debs/SPECS/3.10.0/wazuh-manager/debian/compat
  debs/SPECS/3.10.0/wazuh-manager/debian/conffiles
  debs/SPECS/3.10.0/wazuh-manager/debian/control
  debs/SPECS/3.10.0/wazuh-manager/debian/copyright
  debs/SPECS/3.10.0/wazuh-manager/debian/postinst
  debs/SPECS/3.10.0/wazuh-manager/debian/postrm
  debs/SPECS/3.10.0/wazuh-manager/debian/preinst
  debs/SPECS/3.10.0/wazuh-manager/debian/prerm
  debs/SPECS/3.10.0/wazuh-manager/debian/rules
  debs/SPECS/3.10.0/wazuh-manager/debian/source/format
  debs/SPECS/3.10.0/wazuh-manager/debian/wazuh-manager.lintian-overrides
  rpms/SPECS/3.10.0/wazuh-agent-3.10.0.spec
  rpms/SPECS/3.10.0/wazuh-api-3.10.0.spec
  rpms/SPECS/3.10.0/wazuh-manager-3.10.0.spec
Labels: enhancement

#168 Added DEB and RPM specs files for Wazuh v3.9.1
  debs/SPECS/3.9.1/wazuh-agent/debian/changelog
  debs/SPECS/3.9.1/wazuh-agent/debian/compat
  debs/SPECS/3.9.1/wazuh-agent/debian/conffiles
  debs/SPECS/3.9.1/wazuh-agent/debian/control
  debs/SPECS/3.9.1/wazuh-agent/debian/copyright
  debs/SPECS/3.9.1/wazuh-agent/debian/postinst
  debs/SPECS/3.9.1/wazuh-agent/debian/postrm
  debs/SPECS/3.9.1/wazuh-agent/debian/preinst
  debs/SPECS/3.9.1/wazuh-agent/debian/prerm
  debs/SPECS/3.9.1/wazuh-agent/debian/rules
  debs/SPECS/3.9.1/wazuh-agent/debian/source/format
  debs/SPECS/3.9.1/wazuh-agent/debian/templates
  debs/SPECS/3.9.1/wazuh-agent/debian/wazuh-agent.lintian-overrides
  debs/SPECS/3.9.1/wazuh-api/debian/changelog
  debs/SPECS/3.9.1/wazuh-api/debian/compat
  debs/SPECS/3.9.1/wazuh-api/debian/conffiles
  debs/SPECS/3.9.1/wazuh-api/debian/control
  debs/SPECS/3.9.1/wazuh-api/debian/copyright
  debs/SPECS/3.9.1/wazuh-api/debian/postinst
  debs/SPECS/3.9.1/wazuh-api/debian/postrm
  debs/SPECS/3.9.1/wazuh-api/debian/preinst
  debs/SPECS/3.9.1/wazuh-api/debian/prerm
  debs/SPECS/3.9.1/wazuh-api/debian/rules
  debs/SPECS/3.9.1/wazuh-api/debian/source/format
  debs/SPECS/3.9.1/wazuh-api/debian/wazuh-api.init
  debs/SPECS/3.9.1/wazuh-api/debian/wazuh-api.service
  debs/SPECS/3.9.1/wazuh-manager/debian/changelog
  debs/SPECS/3.9.1/wazuh-manager/debian/compat
  debs/SPECS/3.9.1/wazuh-manager/debian/conffiles
  debs/SPECS/3.9.1/wazuh-manager/debian/control
  debs/SPECS/3.9.1/wazuh-manager/debian/copyright
  debs/SPECS/3.9.1/wazuh-manager/debian/postinst
  debs/SPECS/3.9.1/wazuh-manager/debian/postrm
  debs/SPECS/3.9.1/wazuh-manager/debian/preinst
  debs/SPECS/3.9.1/wazuh-manager/debian/prerm
  debs/SPECS/3.9.1/wazuh-manager/debian/rules
  debs/SPECS/3.9.1/wazuh-manager/debian/source/format
  debs/SPECS/3.9.1/wazuh-manager/debian/wazuh-manager.lintian-overrides
  rpms/SPECS/3.9.1/wazuh-agent-3.9.1.spec
  rpms/SPECS/3.9.1/wazuh-api-3.9.1.spec
  rpms/SPECS/3.9.1/wazuh-manager-3.9.1.spec
Labels: deb, enhancement, rpm

#173 Fix the installation of SCA files for Ubuntu 14.04
  debs/SPECS/3.9.1/wazuh-agent/debian/postinst
  debs/SPECS/3.9.1/wazuh-agent/debian/rules
Labels: bug, deb

#162 Publish build tools into wazuh-packages
  README.md
  aix/README.md
  aix/generate_wazuh_packages.sh
  debs/README.md
  macos/README.md
  macos/readme.md
  ova/Ova2Ovf.py
  ova/README.md
  ova/Vagrantfile
  ova/generate_ova.sh
  ova/provision.sh
  rpms/README.md
  splunkapp/Docker/Dockerfile
  splunkapp/Docker/build.sh
  splunkapp/README.md
  splunkapp/generate_wazuh_splunk_app.sh
  wazuhapp/Docker/Dockerfile
  wazuhapp/Docker/build.sh
  wazuhapp/README.md
  wazuhapp/generate_wazuh_app.sh
  wpk/README.md
  wpk/gen_versions.sh
  wpk/generate_wpk_package.sh
  wpk/run.sh
  wpk/unified/linux/Dockerfile
  wpk/windows/Dockerfile
  wpk/wpkpack.py
Labels: enhancement, readme

#181 Fix Wazuh services RHEL 8
  rpms/SPECS/3.10.0/wazuh-agent-3.10.0.spec
  rpms/SPECS/3.10.0/wazuh-manager-3.10.0.spec
  rpms/SPECS/3.9.2/wazuh-agent-3.9.2.spec
  rpms/SPECS/3.9.2/wazuh-manager-3.9.2.spec
Labels: bug
