Repository wazuh/wazuh-packages, pull requests merged in 2020-08, with the labels that each got.

#465 Update Wazuh kibana app package generation
  wazuhapp/Docker/Dockerfile
  wazuhapp/Docker/build.sh
Labels: package, wazuh-kibana-app

#467 Updated WPK to get WPK certificates from AWS
  wpk/gen_versions.sh
  wpk/generate_wpk_package.sh
  wpk/linux/aarch64/Dockerfile
  wpk/linux/armv7hl/Dockerfile
  wpk/linux/armv7hl/build_deps.sh
  wpk/linux/x86_64/Dockerfile
  wpk/run.sh
  wpk/windows/Dockerfile
Labels: enhancement

#466 Improve services logic, permissions and bugfixes
  aix/SPECS/3.14.0/wazuh-agent-3.14.0-aix.spec
  debs/SPECS/3.14.0/wazuh-agent/debian/changelog
  debs/SPECS/3.14.0/wazuh-agent/debian/compat
  debs/SPECS/3.14.0/wazuh-agent/debian/conffiles
  debs/SPECS/3.14.0/wazuh-agent/debian/control
  debs/SPECS/3.14.0/wazuh-agent/debian/copyright
  debs/SPECS/3.14.0/wazuh-agent/debian/postinst
  debs/SPECS/3.14.0/wazuh-agent/debian/postrm
  debs/SPECS/3.14.0/wazuh-agent/debian/preinst
  debs/SPECS/3.14.0/wazuh-agent/debian/prerm
  debs/SPECS/3.14.0/wazuh-agent/debian/rules
  debs/SPECS/3.14.0/wazuh-agent/debian/source/format
  debs/SPECS/3.14.0/wazuh-agent/debian/templates
  debs/SPECS/3.14.0/wazuh-agent/debian/wazuh-agent.lintian-overrides
  debs/SPECS/3.14.0/wazuh-api/debian/changelog
  debs/SPECS/3.14.0/wazuh-api/debian/compat
  debs/SPECS/3.14.0/wazuh-api/debian/conffiles
  debs/SPECS/3.14.0/wazuh-api/debian/control
  debs/SPECS/3.14.0/wazuh-api/debian/copyright
  debs/SPECS/3.14.0/wazuh-api/debian/postinst
  debs/SPECS/3.14.0/wazuh-api/debian/postrm
  debs/SPECS/3.14.0/wazuh-api/debian/preinst
  debs/SPECS/3.14.0/wazuh-api/debian/prerm
  debs/SPECS/3.14.0/wazuh-api/debian/rules
  debs/SPECS/3.14.0/wazuh-api/debian/source/format
  debs/SPECS/3.14.0/wazuh-api/debian/wazuh-api.init
  debs/SPECS/3.14.0/wazuh-api/debian/wazuh-api.service
  debs/SPECS/3.14.0/wazuh-manager/debian/changelog
  debs/SPECS/3.14.0/wazuh-manager/debian/compat
  debs/SPECS/3.14.0/wazuh-manager/debian/conffiles
  debs/SPECS/3.14.0/wazuh-manager/debian/control
  debs/SPECS/3.14.0/wazuh-manager/debian/copyright
  debs/SPECS/3.14.0/wazuh-manager/debian/postinst
  debs/SPECS/3.14.0/wazuh-manager/debian/postrm
  debs/SPECS/3.14.0/wazuh-manager/debian/preinst
  debs/SPECS/3.14.0/wazuh-manager/debian/prerm
  debs/SPECS/3.14.0/wazuh-manager/debian/rules
  debs/SPECS/3.14.0/wazuh-manager/debian/source/format
  debs/SPECS/3.14.0/wazuh-manager/debian/wazuh-manager.lintian-overrides
  debs/SPECS/4.0.0/wazuh-agent/debian/postinst
  debs/SPECS/4.0.0/wazuh-agent/debian/postrm
  debs/SPECS/4.0.0/wazuh-agent/debian/preinst
  debs/SPECS/4.0.0/wazuh-agent/debian/prerm
  debs/SPECS/4.0.0/wazuh-agent/debian/rules
  debs/SPECS/4.0.0/wazuh-manager/debian/postinst
  debs/SPECS/4.0.0/wazuh-manager/debian/postrm
  debs/SPECS/4.0.0/wazuh-manager/debian/preinst
  debs/SPECS/4.0.0/wazuh-manager/debian/prerm
  debs/SPECS/4.0.0/wazuh-manager/debian/rules
  debs/gen_permissions.sh
  macos/package_files/3.14.0/build.sh
  macos/package_files/3.14.0/postinstall.sh
  macos/package_files/3.14.0/preinstall.sh
  macos/specs/3.x/wazuh-agent-3.14.0.pkgproj
  rpms/SPECS/3.14.0/wazuh-agent-3.14.0.spec
  rpms/SPECS/3.14.0/wazuh-api-3.14.0.spec
  rpms/SPECS/3.14.0/wazuh-manager-3.14.0.spec
  rpms/SPECS/4.0.0/wazuh-agent-4.0.0.spec
  rpms/SPECS/4.0.0/wazuh-manager-4.0.0.spec
  solaris/solaris11/SPECS/template_agent_v3.14.0.json
Labels: deb, enhancement, rpm

#472 Remove msu from 4.0.0 RPM SPECs
  rpms/SPECS/4.0.0/wazuh-manager-4.0.0.spec
Labels: rpm

#474 Added CMake to all containers
  debs/Debian/amd64/Dockerfile
  debs/Debian/arm64/Dockerfile
  debs/Debian/armhf/Dockerfile
  debs/Debian/i386/Dockerfile
  debs/Debian/ppc64le/Dockerfile
  rpms/CentOS/5/i386/docker_builder.sh
  rpms/CentOS/5/x86_64/Dockerfile
  rpms/CentOS/6/i386/Dockerfile
  rpms/CentOS/6/x86_64/Dockerfile
  rpms/CentOS/7/aarch64/Dockerfile
  rpms/CentOS/7/armv7hl/build_deps.sh
  rpms/CentOS/7/ppc64le/Dockerfile
Labels: enhancement
