Repository wazuh/wazuh-packages, pull requests merged in 2020-01, with the labels that each got.

#376 Fixed reinstall issues after configuring the api
  debs/SPECS/3.11.2/wazuh-api/debian/postinst
  debs/SPECS/3.12.0/wazuh-api/debian/postinst
Labels: bug, deb

#378 Add FIPS support for generic RPM package
  rpms/CentOS/6/i386/Dockerfile
  rpms/CentOS/6/x86_64/Dockerfile
  rpms/build.sh
  rpms/generate_rpm_package.sh
Labels: enhancement, rpm

#382 Add specs files to build Wazuh v3.11.3
  aix/SPECS/3.11.3/wazuh-agent-3.11.3-aix.spec
  debs/SPECS/3.11.3/wazuh-agent/debian/changelog
  debs/SPECS/3.11.3/wazuh-agent/debian/compat
  debs/SPECS/3.11.3/wazuh-agent/debian/conffiles
  debs/SPECS/3.11.3/wazuh-agent/debian/control
  debs/SPECS/3.11.3/wazuh-agent/debian/copyright
  debs/SPECS/3.11.3/wazuh-agent/debian/postinst
  debs/SPECS/3.11.3/wazuh-agent/debian/postrm
  debs/SPECS/3.11.3/wazuh-agent/debian/preinst
  debs/SPECS/3.11.3/wazuh-agent/debian/prerm
  debs/SPECS/3.11.3/wazuh-agent/debian/rules
  debs/SPECS/3.11.3/wazuh-agent/debian/source/format
  debs/SPECS/3.11.3/wazuh-agent/debian/templates
  debs/SPECS/3.11.3/wazuh-agent/debian/wazuh-agent.lintian-overrides
  debs/SPECS/3.11.3/wazuh-api/debian/changelog
  debs/SPECS/3.11.3/wazuh-api/debian/compat
  debs/SPECS/3.11.3/wazuh-api/debian/conffiles
  debs/SPECS/3.11.3/wazuh-api/debian/control
  debs/SPECS/3.11.3/wazuh-api/debian/copyright
  debs/SPECS/3.11.3/wazuh-api/debian/postinst
  debs/SPECS/3.11.3/wazuh-api/debian/postrm
  debs/SPECS/3.11.3/wazuh-api/debian/preinst
  debs/SPECS/3.11.3/wazuh-api/debian/prerm
  debs/SPECS/3.11.3/wazuh-api/debian/rules
  debs/SPECS/3.11.3/wazuh-api/debian/source/format
  debs/SPECS/3.11.3/wazuh-api/debian/wazuh-api.init
  debs/SPECS/3.11.3/wazuh-api/debian/wazuh-api.service
  debs/SPECS/3.11.3/wazuh-manager/debian/changelog
  debs/SPECS/3.11.3/wazuh-manager/debian/compat
  debs/SPECS/3.11.3/wazuh-manager/debian/conffiles
  debs/SPECS/3.11.3/wazuh-manager/debian/control
  debs/SPECS/3.11.3/wazuh-manager/debian/copyright
  debs/SPECS/3.11.3/wazuh-manager/debian/postinst
  debs/SPECS/3.11.3/wazuh-manager/debian/postrm
  debs/SPECS/3.11.3/wazuh-manager/debian/preinst
  debs/SPECS/3.11.3/wazuh-manager/debian/prerm
  debs/SPECS/3.11.3/wazuh-manager/debian/rules
  debs/SPECS/3.11.3/wazuh-manager/debian/source/format
  debs/SPECS/3.11.3/wazuh-manager/debian/wazuh-manager.lintian-overrides
  macos/package_files/3.11.3/build.sh
  macos/package_files/3.11.3/postinstall.sh
  macos/package_files/3.11.3/preinstall.sh
  macos/specs/3.x/wazuh-agent-3.11.3.pkgproj
  rpms/SPECS/3.11.3/wazuh-agent-3.11.3.spec
  rpms/SPECS/3.11.3/wazuh-api-3.11.3.spec
  rpms/SPECS/3.11.3/wazuh-manager-3.11.3.spec
  solaris/solaris11/SPECS/template_agent_v3.11.3.json
Labels: enhancement

#381 Added unattended process to Solaris 10 generation script
  solaris/solaris10/generate_wazuh_packages.sh
Labels: solaris

#384 Added dist macros to our custom rpmmacros file
  rpms/build.sh
Labels: bug, rpm
