Repository wazuh/wazuh-packages, pull requests merged in 2020-11, with the labels that each got.

#525 Add tools to generate future x.30.0 test packages
  debs/build.sh
  debs/generate_debian_package.sh
  rpms/build.sh
  rpms/generate_rpm_package.sh
Labels: deb, package, rpm, testing, upgrade

#528 Solve provision script error installing Kibana
  ova/Libraries/provision-opendistro.sh
Labels: bug, opendistro, ova

#529 Fix problem with Debian future package generation
  debs/build.sh
  debs/generate_debian_package.sh
  rpms/build.sh
  rpms/generate_rpm_package.sh
Labels: deb

#534 Fix wazuh_kibana package url and update Kibana certificates
  ova/Libraries/provision-opendistro.sh
Labels: enhancement, ova

#508 Add new wazuh-logtest script
  rpms/SPECS/4.1.0/wazuh-manager-4.1.0.spec
Labels: rpm

#535 Added OVA welcome message
  ova/provision.sh
Labels: enhancement, operations, ova
