Repository wazuh/wazuh-packages, pull requests merged in 2020-06, with the labels that each got.

#438 Improve ARM build tools
  debs/Debian/arm64/Dockerfile
  debs/Debian/armhf/Dockerfile
Labels: arm, build-tools, enhancement

#440 Fix solaris 11 SPARC python provisioning
  solaris/solaris11/generate_wazuh_packages.sh
Labels: build-tools, solaris

#442 Fixed build stage when using a branch instead of a tag
  wazuhapp/Docker/Dockerfile
  wazuhapp/Docker/build.sh
Labels: bug, build-tools, wazuh-kibana-app

#444 Fix the wazuh app builder
  wazuhapp/Docker/Dockerfile
  wazuhapp/Docker/build.sh
Labels: build-tools, wazuh-kibana-app
