Repository wazuh/wazuh-packages, pull requests merged in 2020-12, with the labels that each got.

#551 Add new SCA files to RPM SPECS
  rpms/SPECS/4.1.0/wazuh-agent-4.1.0.spec
  rpms/SPECS/4.1.0/wazuh-manager-4.1.0.spec
Labels: SPECS, rpm

#560 Restore 4.0.3 SPECS with the release ones
  rpms/SPECS/4.0.3/wazuh-manager-4.0.3.spec
Labels: package, rpm

#564 Rename Wazuh daemons
  aix/SPECS/4.2.0/wazuh-agent-4.2.0-aix.spec
  aix/SPECS/5.0.0/wazuh-agent-5.0.0-aix.spec
  rpms/SPECS/4.2.0/wazuh-agent-4.2.0.spec
  rpms/SPECS/4.2.0/wazuh-manager-4.2.0.spec
  rpms/SPECS/5.0.0/wazuh-agent-5.0.0.spec
  rpms/SPECS/5.0.0/wazuh-manager-5.0.0.spec
  solaris/solaris11/SPECS/template_agent_v4.2.0.json
  solaris/solaris11/SPECS/template_agent_v5.0.0.json
Labels: enhancement

#567 Updating packages generation scripts with the the new ruleset folder location
  debs/SPECS/4.2.0/wazuh-agent/debian/rules
  debs/SPECS/4.2.0/wazuh-manager/debian/rules
  debs/SPECS/5.0.0/wazuh-agent/debian/rules
  debs/SPECS/5.0.0/wazuh-manager/debian/rules
  macos/package_files/4.2.0/build.sh
  macos/package_files/5.0.0/build.sh
  rpms/SPECS/4.2.0/wazuh-agent-4.2.0.spec
  rpms/SPECS/4.2.0/wazuh-manager-4.2.0.spec
  rpms/SPECS/5.0.0/wazuh-agent-5.0.0.spec
  rpms/SPECS/5.0.0/wazuh-manager-5.0.0.spec
Labels: enhancement

#575 Remove obsolete update_ruleset from 4.2 and 5.0 spec files
  rpms/SPECS/4.2.0/wazuh-manager-4.2.0.spec
  rpms/SPECS/5.0.0/wazuh-manager-5.0.0.spec
Labels: enhancement

#576 Update global.db perms and removed rootcheck directory
  debs/SPECS/4.1.0/wazuh-manager/debian/postinst
  debs/SPECS/4.1.0/wazuh-manager/debian/preinst
  debs/SPECS/4.2.0/wazuh-manager/debian/postinst
  debs/SPECS/4.2.0/wazuh-manager/debian/preinst
  debs/SPECS/5.0.0/wazuh-manager/debian/postinst
  debs/SPECS/5.0.0/wazuh-manager/debian/preinst
  rpms/SPECS/4.1.0/wazuh-manager-4.1.0.spec
  rpms/SPECS/4.2.0/wazuh-manager-4.2.0.spec
  rpms/SPECS/5.0.0/wazuh-manager-5.0.0.spec
Labels: deb, enhancement, rpm

#573 Migration of the wazuh ruleset to the wazuh repository - Packages modifications implementation
  debs/SPECS/4.2.0/wazuh-agent/debian/rules
  debs/SPECS/4.2.0/wazuh-manager/debian/rules
  debs/SPECS/5.0.0/wazuh-agent/debian/rules
  debs/SPECS/5.0.0/wazuh-manager/debian/rules
  macos/package_files/4.2.0/build.sh
  macos/package_files/5.0.0/build.sh
  rpms/SPECS/4.2.0/wazuh-agent-4.2.0.spec
  rpms/SPECS/4.2.0/wazuh-manager-4.2.0.spec
  rpms/SPECS/5.0.0/wazuh-agent-5.0.0.spec
  rpms/SPECS/5.0.0/wazuh-manager-5.0.0.spec
Labels: enhancement

#571 Add directory logcollector to SPECs
  aix/SPECS/4.2.0/wazuh-agent-4.2.0-aix.spec
  aix/SPECS/5.0.0/wazuh-agent-5.0.0-aix.spec
  rpms/SPECS/4.2.0/wazuh-agent-4.2.0.spec
  rpms/SPECS/4.2.0/wazuh-manager-4.2.0.spec
  rpms/SPECS/5.0.0/wazuh-agent-5.0.0.spec
  rpms/SPECS/5.0.0/wazuh-manager-5.0.0.spec
  solaris/solaris11/SPECS/template_agent_v4.2.0.json
Labels: package

#578 Migration of the wazuh ruleset to the wazuh repository - Packages modifications implementation
  debs/SPECS/4.2.0/wazuh-agent/debian/rules
  debs/SPECS/4.2.0/wazuh-manager/debian/rules
  debs/SPECS/5.0.0/wazuh-agent/debian/rules
  debs/SPECS/5.0.0/wazuh-manager/debian/rules
  macos/package_files/4.2.0/build.sh
  macos/package_files/5.0.0/build.sh
  rpms/SPECS/4.2.0/wazuh-agent-4.2.0.spec
  rpms/SPECS/4.2.0/wazuh-manager-4.2.0.spec
  rpms/SPECS/5.0.0/wazuh-agent-5.0.0.spec
  rpms/SPECS/5.0.0/wazuh-manager-5.0.0.spec
Labels: enhancement

#580 Add automatic patching of sh scripts on solaris 10 #579
  solaris/solaris10/generate_wazuh_packages.sh
  solaris/solaris10/solaris10_patch.sh
Labels: solaris

#585 Remove legacy .template.db in upgrades
  debs/SPECS/4.1.0/wazuh-manager/debian/postinst
  debs/SPECS/4.2.0/wazuh-manager/debian/postinst
  debs/SPECS/5.0.0/wazuh-manager/debian/postinst
  rpms/SPECS/4.1.0/wazuh-manager-4.1.0.spec
  rpms/SPECS/4.2.0/wazuh-manager-4.2.0.spec
  rpms/SPECS/5.0.0/wazuh-manager-5.0.0.spec
Labels: SPECS, cicd

#586 Fix: ossec group privilege for wazuh-logtest
  rpms/SPECS/4.2.0/wazuh-manager-4.2.0.spec
Labels: SPECS, rpm
