Repository wazuh/wazuh-packages, pull requests merged in 2020-10, with the labels that each got.

#500 Update obsolete wazuh-api 3.13.2 when upgrading to 4.0.0 in RPM
  rpms/SPECS/4.0.0/wazuh-manager-4.0.0.spec
Labels: rpm, upgrade

#504 Fix errors in deb changelog
  debs/SPECS/4.0.0/wazuh-agent/debian/changelog
  debs/SPECS/4.0.0/wazuh-manager/debian/changelog
  debs/SPECS/4.1.0/wazuh-agent/debian/changelog
  debs/SPECS/4.1.0/wazuh-manager/debian/changelog
Labels: deb

#505 Remove fakeroot package from deb build-tools
  debs/Debian/amd64/Dockerfile
  debs/Debian/arm64/Dockerfile
  debs/Debian/armhf/Dockerfile
  debs/Debian/i386/Dockerfile
  debs/Debian/ppc64le/Dockerfile
  debs/build.sh
Labels: bug, build-tools, deb, enhancement

#462 Use opendistro in ova
  ova/Libraries/automatic_set_ram.sh
  ova/Libraries/elastic_functions.sh
  ova/Libraries/provision-opendistro.sh
  ova/Libraries/setOvaDefault.sh
  ova/Libraries/wazuh_functions.sh
  ova/Ova2Ovf.py
  ova/Vagrantfile
  ova/generate_ova.sh
  ova/provision.sh
  ova/setOVADefault.sh
  ova/wazuh_ovf_template
Labels: opendistro, ova

#507 Improve service handling on specs scripts
  debs/SPECS/4.0.0/wazuh-agent/debian/postinst
  debs/SPECS/4.0.0/wazuh-agent/debian/postrm
  debs/SPECS/4.0.0/wazuh-agent/debian/preinst
  debs/SPECS/4.0.0/wazuh-agent/debian/prerm
  debs/SPECS/4.0.0/wazuh-manager/debian/postinst
  debs/SPECS/4.0.0/wazuh-manager/debian/postrm
  debs/SPECS/4.0.0/wazuh-manager/debian/preinst
  debs/SPECS/4.0.0/wazuh-manager/debian/prerm
  debs/SPECS/4.1.0/wazuh-agent/debian/postinst
  debs/SPECS/4.1.0/wazuh-agent/debian/postrm
  debs/SPECS/4.1.0/wazuh-agent/debian/preinst
  debs/SPECS/4.1.0/wazuh-agent/debian/prerm
  debs/SPECS/4.1.0/wazuh-manager/debian/postinst
  debs/SPECS/4.1.0/wazuh-manager/debian/postrm
  debs/SPECS/4.1.0/wazuh-manager/debian/preinst
  debs/SPECS/4.1.0/wazuh-manager/debian/prerm
  rpms/SPECS/4.0.0/wazuh-agent-4.0.0.spec
  rpms/SPECS/4.0.0/wazuh-manager-4.0.0.spec
  rpms/SPECS/4.1.0/wazuh-agent-4.1.0.spec
  rpms/SPECS/4.1.0/wazuh-manager-4.1.0.spec
Labels: enhancement, rpm

#510 Ensure DBs from Wazuh v3.6.1 or lower are deleted
  debs/SPECS/4.0.0/wazuh-manager/debian/postinst
  debs/SPECS/4.1.0/wazuh-manager/debian/postinst
  rpms/SPECS/4.0.0/wazuh-manager-4.0.0.spec
  rpms/SPECS/4.1.0/wazuh-manager-4.1.0.spec
Labels: bug, deb, rpm

#516 Set ssl cetificates permissions in DEB packages
  debs/SPECS/4.1.0/wazuh-manager/debian/postinst
Labels: deb, hacktoberfest-accepted

#520 Fix AIX package generation script with chroot environment
  aix/generate_wazuh_packages.sh
Labels: aix, build-tools, enhancement, hacktoberfest-accepted

#523 Fix services' autostart when the manager is stopped
  debs/SPECS/4.0.1/wazuh-agent/debian/preinst
  debs/SPECS/4.0.1/wazuh-manager/debian/preinst
  debs/SPECS/4.1.0/wazuh-agent/debian/preinst
  debs/SPECS/4.1.0/wazuh-manager/debian/preinst
  rpms/SPECS/4.0.1/wazuh-agent-4.0.1.spec
  rpms/SPECS/4.0.1/wazuh-manager-4.0.1.spec
  rpms/SPECS/4.1.0/wazuh-agent-4.1.0.spec
  rpms/SPECS/4.1.0/wazuh-manager-4.1.0.spec
Labels: deb, hacktoberfest-accepted, rpm

#524 Change ssl cert permissions in 4.0.1 SPECS
  debs/SPECS/4.0.1/wazuh-manager/debian/postinst
Labels: SPECS, deb

#526 Fix HP-UX documentation links
  aix/README.md
  debs/README.md
  macos/README.md
  ova/README.md
  rpms/README.md
  solaris/README.md
  solaris/package_generation/README.md
  solaris/packer/README.md
  splunkapp/README.md
  wazuhapp/README.md
  windows/README.md
  wpk/README.md
Labels: documentation, hacktoberfest, hacktoberfest-accepted
