Repository wazuh/wazuh-packages, pull requests merged in 2020-05, with the labels that each got.

#420 Added installation of system headers
  solaris/solaris11/generate_wazuh_packages.sh
Labels: bug

#431 Fixed deb_builder_arm64 Docker image
  debs/Debian/amd64/Dockerfile
Labels: bug, build-tools, deb

#418 Add tools to build official ports for aarch64, armhf and arm32v7 architectures
  debs/Debian/arm64/Dockerfile
  debs/Debian/armhf/Dockerfile
  debs/SPECS/3.13.0/wazuh-manager/debian/rules
  debs/build.sh
  debs/generate_debian_package.sh
  rpms/CentOS/7/aarch64/Dockerfile
  rpms/CentOS/7/armv7hl/Dockerfile
  rpms/CentOS/7/armv7hl/build_deps.sh
  rpms/SPECS/3.13.0/wazuh-api-3.13.0.spec
  rpms/SPECS/3.13.0/wazuh-manager-3.13.0.spec
  rpms/build.sh
  rpms/generate_rpm_package.sh
  wpk/generate_wpk_package.sh
  wpk/linux/aarch64/Dockerfile
  wpk/linux/amd64/Dockerfile
  wpk/linux/armv7hl/Dockerfile
  wpk/linux/armv7hl/build_deps.sh
  wpk/linux/armv7hl/entrypoint.sh
  wpk/run.sh
Labels: build-tools, deb, enhancement, rpm

#436 Added Kibana repository on app package generation
  wazuhapp/Docker/build.sh
Labels: bug
