Repository wazuh/wazuh-packages, pull requests merged in 2020-03, with the labels that each got.

#400 Update owner, group and permissions of Python's directory
  debs/SPECS/3.12.0/wazuh-manager/debian/postinst
  rpms/SPECS/3.12.0/wazuh-manager-3.12.0.spec
Labels: deb, enhancement, rpm

#401 Add missing versions to 3.12.0 changelog
  aix/SPECS/3.12.0/wazuh-agent-3.12.0-aix.spec
  debs/SPECS/3.12.0/wazuh-agent/debian/changelog
  debs/SPECS/3.12.0/wazuh-api/debian/changelog
  debs/SPECS/3.12.0/wazuh-manager/debian/changelog
  rpms/SPECS/3.12.0/wazuh-agent-3.12.0.spec
  rpms/SPECS/3.12.0/wazuh-api-3.12.0.spec
  rpms/SPECS/3.12.0/wazuh-manager-3.12.0.spec
Labels: deb, rpm

#403 Change makedeps version in 3.12.x versions
  aix/SPECS/3.12.0/wazuh-agent-3.12.0-aix.spec
  aix/SPECS/3.12.1/wazuh-agent-3.12.1-aix.spec
  rpms/SPECS/3.12.0/wazuh-agent-3.12.0.spec
  rpms/SPECS/3.12.1/wazuh-agent-3.12.1.spec
Labels: enhancement

#405 Add specs files to build Wazuh 3.13.0
  aix/SPECS/3.13.0/wazuh-agent-3.13.0-aix.spec
  debs/SPECS/3.13.0/wazuh-agent/debian/changelog
  debs/SPECS/3.13.0/wazuh-agent/debian/compat
  debs/SPECS/3.13.0/wazuh-agent/debian/conffiles
  debs/SPECS/3.13.0/wazuh-agent/debian/control
  debs/SPECS/3.13.0/wazuh-agent/debian/copyright
  debs/SPECS/3.13.0/wazuh-agent/debian/postinst
  debs/SPECS/3.13.0/wazuh-agent/debian/postrm
  debs/SPECS/3.13.0/wazuh-agent/debian/preinst
  debs/SPECS/3.13.0/wazuh-agent/debian/prerm
  debs/SPECS/3.13.0/wazuh-agent/debian/rules
  debs/SPECS/3.13.0/wazuh-agent/debian/source/format
  debs/SPECS/3.13.0/wazuh-agent/debian/templates
  debs/SPECS/3.13.0/wazuh-agent/debian/wazuh-agent.lintian-overrides
  debs/SPECS/3.13.0/wazuh-api/debian/changelog
  debs/SPECS/3.13.0/wazuh-api/debian/compat
  debs/SPECS/3.13.0/wazuh-api/debian/conffiles
  debs/SPECS/3.13.0/wazuh-api/debian/control
  debs/SPECS/3.13.0/wazuh-api/debian/copyright
  debs/SPECS/3.13.0/wazuh-api/debian/postinst
  debs/SPECS/3.13.0/wazuh-api/debian/postrm
  debs/SPECS/3.13.0/wazuh-api/debian/preinst
  debs/SPECS/3.13.0/wazuh-api/debian/prerm
  debs/SPECS/3.13.0/wazuh-api/debian/rules
  debs/SPECS/3.13.0/wazuh-api/debian/source/format
  debs/SPECS/3.13.0/wazuh-api/debian/wazuh-api.init
  debs/SPECS/3.13.0/wazuh-api/debian/wazuh-api.service
  debs/SPECS/3.13.0/wazuh-manager/debian/changelog
  debs/SPECS/3.13.0/wazuh-manager/debian/compat
  debs/SPECS/3.13.0/wazuh-manager/debian/conffiles
  debs/SPECS/3.13.0/wazuh-manager/debian/control
  debs/SPECS/3.13.0/wazuh-manager/debian/copyright
  debs/SPECS/3.13.0/wazuh-manager/debian/postinst
  debs/SPECS/3.13.0/wazuh-manager/debian/postrm
  debs/SPECS/3.13.0/wazuh-manager/debian/preinst
  debs/SPECS/3.13.0/wazuh-manager/debian/prerm
  debs/SPECS/3.13.0/wazuh-manager/debian/rules
  debs/SPECS/3.13.0/wazuh-manager/debian/source/format
  debs/SPECS/3.13.0/wazuh-manager/debian/wazuh-manager.lintian-overrides
  macos/package_files/3.13.0/build.sh
  macos/package_files/3.13.0/postinstall.sh
  macos/package_files/3.13.0/preinstall.sh
  macos/specs/3.x/wazuh-agent-3.13.0.pkgproj
  rpms/SPECS/3.13.0/wazuh-agent-3.13.0.spec
  rpms/SPECS/3.13.0/wazuh-api-3.13.0.spec
  rpms/SPECS/3.13.0/wazuh-manager-3.13.0.spec
  solaris/solaris11/SPECS/template_agent_v3.13.0.json
Labels: bump, enhancement

#406 Remove extra space from debian 3.12.1 and 3.13.0 changelog file
  debs/SPECS/3.12.1/wazuh-agent/debian/changelog
  debs/SPECS/3.12.1/wazuh-api/debian/changelog
  debs/SPECS/3.12.1/wazuh-manager/debian/changelog
  debs/SPECS/3.13.0/wazuh-agent/debian/changelog
  debs/SPECS/3.13.0/wazuh-api/debian/changelog
  debs/SPECS/3.13.0/wazuh-manager/debian/changelog
Labels: bug, deb

#388 Package build for aarch64 on Amazon Linux 2
  rpms/amzn/2/aarch64/Dockerfile
  rpms/generate_rpm_package.sh
Labels: build-tools, enhancement, rpm
