Repository wazuh/wazuh-packages, pull requests merged in 2020-09, with the labels that each got.

#476 Ensure wazuh-services are stopped before upgrading the package
  rpms/SPECS/4.0.0/wazuh-agent-4.0.0.spec
  rpms/SPECS/4.0.0/wazuh-manager-4.0.0.spec
Labels: bug, rpm

#477 Fix the backup and removal of API files
  debs/SPECS/4.0.0/wazuh-manager/debian/postrm
  debs/SPECS/4.0.0/wazuh-manager/debian/prerm
Labels: bug, deb

#479 Modify Kibana and Splunk package names and revision
  splunkapp/Docker/build.sh
  wazuhapp/Docker/build.sh
Labels: enhancement

#481 Fixed the stop and restart of the services of RPM packages
  aix/SPECS/4.0.0/wazuh-agent-4.0.0-aix.spec
  rpms/SPECS/4.0.0/wazuh-agent-4.0.0.spec
  rpms/SPECS/4.0.0/wazuh-manager-4.0.0.spec
Labels: aix, enhancement, rpm

#483 Added CHANGELOG.md file, issue and PR templates to the repository
  .github/ISSUE_TEMPLATE/default.md
  .github/pull_request_template.md
  CHANGELOG.md
Labels: enhancement

#484 [Development] Fixed the shared configuration files backup before upgrade
  debs/SPECS/4.0.0/wazuh-manager/debian/preinst
Labels: bug, deb

#489 Update Wazuh API permissions on rpm spec
  rpms/SPECS/4.0.0/wazuh-manager-4.0.0.spec
Labels: enhancement, rpm

#497 Fix clone problem in WPK generation
  wpk/generate_wpk_package.sh
  wpk/run.sh
Labels: bug, wpk

#495 Migration agent-info data to Wazuh DB packages upgrade
  debs/SPECS/3.13.2/wazuh-manager/debian/postinst
  debs/SPECS/4.0.0/wazuh-manager/debian/postinst
  debs/SPECS/4.0.0/wazuh-manager/debian/preinst
  rpms/SPECS/4.0.0/wazuh-manager-4.0.0.spec
Labels: deb, enhancement, rpm
