Repository wazuh/wazuh-packages, pull requests merged in 2021-05, with the labels that each got.

#743 Fix solaris 11 postinstall service
  solaris/solaris11/generate_wazuh_packages.sh
  solaris/solaris11/postinstall.sh
Labels: solaris

#751 Make sure services are stopped during upgrade
  debs/SPECS/4.2.0/wazuh-agent/debian/preinst
  debs/SPECS/4.2.0/wazuh-manager/debian/preinst
  rpms/SPECS/4.2.0/wazuh-agent-4.2.0.spec
  rpms/SPECS/4.2.0/wazuh-manager-4.2.0.spec
Labels: deb, rpm

#748 Rename Wazuh configuration files
  aix/SPECS/5.0.0/wazuh-agent-5.0.0-aix.spec
  debs/Debian/amd64/Dockerfile
  debs/SPECS/5.0.0/wazuh-agent/debian/postinst
  debs/SPECS/5.0.0/wazuh-agent/debian/preinst
  debs/SPECS/5.0.0/wazuh-agent/debian/prerm
  debs/SPECS/5.0.0/wazuh-agent/debian/rules
  debs/SPECS/5.0.0/wazuh-manager/debian/postinst
  debs/SPECS/5.0.0/wazuh-manager/debian/postrm
  debs/SPECS/5.0.0/wazuh-manager/debian/preinst
  debs/SPECS/5.0.0/wazuh-manager/debian/prerm
  debs/SPECS/5.0.0/wazuh-manager/debian/rules
  macos/package_files/5.0.0/build.sh
  macos/package_files/5.0.0/postinstall.sh
  macos/package_files/5.0.0/preinstall.sh
  macos/specs/5.x/wazuh-agent-5.0.0.pkgproj
  rpms/SPECS/5.0.0/wazuh-agent-5.0.0.spec
  rpms/SPECS/5.0.0/wazuh-manager-5.0.0.spec
  solaris/solaris10/postinstall.sh
  solaris/solaris10/preinstall.sh
  solaris/solaris11/SPECS/template_agent_v5.0.0.json
  solaris/solaris11/generate_wazuh_packages.sh
Labels: all operating systems, package

#774 4.2 Branch section in readme
  README.md
Labels: priority/alpha, type: refactor

#746 OVA rework first iteration
  ova/Config_files/api_config.json
  ova/Config_files/default_index.json
  ova/Config_files/elasticsearch.conf
  ova/Config_files/elasticsearch.jvm
  ova/Config_files/elasticsearch.yml
  ova/Config_files/kibana
  ova/Config_files/kibana.service
  ova/Config_files/kibana.yml
  ova/Config_files/logstash.jvm
  ova/Config_files/logstash.yml
  ova/Config_files/ossec.conf
  ova/Libraries/automatic_set_ram.sh
  ova/Libraries/elastic_functions.sh
  ova/Libraries/provision-opendistro.sh
  ova/Vagrantfile
  ova/assets/customWelcomeKibana.css
  ova/generate_ova.sh
  ova/provision.sh
  ova/setOVADefault.sh
Labels: type: refactor

#784 OVA rework second iteration
  ova/Vagrantfile
  ova/assets/custom/automatic_set_ram.sh
  ova/assets/custom/customWelcomeKibana.css
  ova/assets/custom/grub/grub
  ova/assets/custom/grub/wazuh.png
  ova/assets/custom/messages.sh
  ova/assets/custom/removeVagrant.service
  ova/assets/custom/removeVagrant.sh
  ova/assets/postProvision.sh
  ova/assets/steps.sh
  ova/generate_ova.sh
  ova/provision.sh
  ova/setOVADefault.sh
Labels: type: refactor
