Repository wazuh/wazuh-packages, pull requests merged in 2021-03, with the labels that each got.

#672 Add GCC5 support to Manager build with Python 3.9
  debs/Debian/amd64/Dockerfile
  debs/SPECS/4.1.3/wazuh-manager/debian/rules
  debs/build.sh
  rpms/CentOS/6/x86_64/Dockerfile
  rpms/CentOS/7/aarch64/Dockerfile
  rpms/CentOS/7/ppc64le/Dockerfile
  rpms/SPECS/4.1.3/wazuh-manager-4.1.3.spec
Labels: type: feature

#671 Add wazuh-logtest.legacy tool to RPM SPECS
  rpms/SPECS/4.2.0/wazuh-manager-4.2.0.spec
Labels: SPECS, rpm

#675 Add wazuh-logtest-legacy tool to RPM SPECS
  rpms/SPECS/4.2.0/wazuh-manager-4.2.0.spec
Labels: SPECS, rpm

#683 Added wazuh-logtest-legacy to 5.0 RPM SPECs
  rpms/SPECS/5.0.0/wazuh-manager-5.0.0.spec
Labels: type: refactor
