Repository wazuh/wazuh-packages, pull requests merged in 2021-11, with the labels that each got.

#958 Removed repeated argument in getHelp method in unattended script [stable]
  unattended_scripts/elastic-stack/unattended-installation/distributed/elastic-stack-installation.sh
  unattended_scripts/open-distro/unattended-installation/distributed/elastic-stack-installation.sh
Labels: unattended

#960 Removed repeated argument in getHelp method in unattended script [4.2]
  unattended_scripts/elastic-stack/unattended-installation/distributed/elastic-stack-installation.sh
  unattended_scripts/open-distro/unattended-installation/distributed/elastic-stack-installation.sh
Labels: unattended

#959 Removed repeated argument in getHelp method in unattended script [master]
  unattended_scripts/elastic-stack/unattended-installation/distributed/elastic-stack-installation.sh
  unattended_scripts/open-distro/unattended-installation/distributed/elastic-stack-installation.sh
Labels: unattended

#957 Removed echo corresponding to a download link in unattended installer [4.2]
  unattended_scripts/open-distro/unattended-installation/unattended-installation.sh
Labels: unattended

#956 Removed echo corresponding to a download link in unattended installer [master]
  unattended_scripts/open-distro/unattended-installation/unattended-installation.sh
Labels: unattended

#955 Removed echo corresponding to a download link in unattended installer [stable]
  unattended_scripts/open-distro/unattended-installation/unattended-installation.sh
Labels: unattended

#931 Fixed wazuh-passwords-tool.sh so it doesn't remove the password in kibana.yml [4.2]
  unattended_scripts/open-distro/tools/wazuh-passwords-tool.sh
Labels: hacktoberfest-accepted

#930 Fixed wazuh-passwords-tool.sh so it doesn't remove the password in kibana.yml [master]
  unattended_scripts/open-distro/tools/wazuh-passwords-tool.sh
Labels: hacktoberfest-accepted

#991 Add specs files to build Wazuh 4.2.5
  CHANGELOG.md
  VERSION
  aix/SPECS/4.2.5/wazuh-agent-4.2.5-aix.spec
  arch/SPECS/4.2.5/wazuh-agent/arch/PKGBUILD
  arch/SPECS/4.2.5/wazuh-agent/arch/wazuh.install
  arch/SPECS/4.2.5/wazuh-agent/arch/wazuh.sysusers
  debs/SPECS/4.2.5/wazuh-agent/debian/changelog
  debs/SPECS/4.2.5/wazuh-agent/debian/compat
  debs/SPECS/4.2.5/wazuh-agent/debian/conffiles
  debs/SPECS/4.2.5/wazuh-agent/debian/control
  debs/SPECS/4.2.5/wazuh-agent/debian/copyright
  debs/SPECS/4.2.5/wazuh-agent/debian/postinst
  debs/SPECS/4.2.5/wazuh-agent/debian/postrm
  debs/SPECS/4.2.5/wazuh-agent/debian/preinst
  debs/SPECS/4.2.5/wazuh-agent/debian/prerm
  debs/SPECS/4.2.5/wazuh-agent/debian/rules
  debs/SPECS/4.2.5/wazuh-agent/debian/source/format
  debs/SPECS/4.2.5/wazuh-agent/debian/templates
  debs/SPECS/4.2.5/wazuh-agent/debian/wazuh-agent.lintian-overrides
  debs/SPECS/4.2.5/wazuh-manager/debian/changelog
  debs/SPECS/4.2.5/wazuh-manager/debian/compat
  debs/SPECS/4.2.5/wazuh-manager/debian/conffiles
  debs/SPECS/4.2.5/wazuh-manager/debian/control
  debs/SPECS/4.2.5/wazuh-manager/debian/copyright
  debs/SPECS/4.2.5/wazuh-manager/debian/postinst
  debs/SPECS/4.2.5/wazuh-manager/debian/postrm
  debs/SPECS/4.2.5/wazuh-manager/debian/preinst
  debs/SPECS/4.2.5/wazuh-manager/debian/prerm
  debs/SPECS/4.2.5/wazuh-manager/debian/rules
  debs/SPECS/4.2.5/wazuh-manager/debian/source/format
  debs/SPECS/4.2.5/wazuh-manager/debian/wazuh-manager.lintian-overrides
  macos/package_files/4.2.5/build.sh
  macos/package_files/4.2.5/postinstall.sh
  macos/package_files/4.2.5/preinstall.sh
  macos/specs/4.x/wazuh-agent-4.2.5.pkgproj
  rpms/SPECS/4.2.5/wazuh-agent-4.2.5.spec
  rpms/SPECS/4.2.5/wazuh-manager-4.2.5.spec
  solaris/solaris11/SPECS/template_agent_v4.2.5.json
  unattended_scripts/elastic-stack/unattended-installation/all-in-one-installation.sh
  unattended_scripts/elastic-stack/unattended-installation/distributed/elastic-stack-installation.sh
  unattended_scripts/open-distro/unattended-installation/distributed/elastic-stack-installation.sh
  unattended_scripts/open-distro/unattended-installation/distributed/wazuh-server-installation.sh
  unattended_scripts/open-distro/unattended-installation/unattended-installation.sh
Labels: bump

#994 Fix ova repository 4.2
  ova/assets/steps.sh
Labels: type: bug, ova

#953 Add rbac permissions to wazuh user in unattended scripts 4.2
  ova/assets/steps.sh
  unattended_scripts/open-distro/unattended-installation/distributed/wazuh-server-installation.sh
  unattended_scripts/open-distro/unattended-installation/unattended-installation.sh
Labels: ova, unattended, AWS AMI

#1005 Fix wazuh user error in Debian packages
  CHANGELOG.md
  debs/SPECS/4.3.0/wazuh-agent/debian/postinst
  debs/SPECS/4.3.0/wazuh-manager/debian/postinst
Labels: deb

#999 Fixed the logger for the unattended installer [stable]
  unattended_scripts/elastic-stack/unattended-installation/all-in-one-installation.sh
  unattended_scripts/elastic-stack/unattended-installation/distributed/elastic-stack-installation.sh
  unattended_scripts/open-distro/tools/wazuh-passwords-tool.sh
  unattended_scripts/open-distro/unattended-installation/distributed/elastic-stack-installation.sh
  unattended_scripts/open-distro/unattended-installation/unattended-installation.sh
Labels: unattended

#1001 Fixed the logger for the unattended installer [4.2]
  unattended_scripts/elastic-stack/unattended-installation/all-in-one-installation.sh
  unattended_scripts/elastic-stack/unattended-installation/distributed/elastic-stack-installation.sh
  unattended_scripts/open-distro/tools/wazuh-passwords-tool.sh
  unattended_scripts/open-distro/unattended-installation/distributed/elastic-stack-installation.sh
  unattended_scripts/open-distro/unattended-installation/unattended-installation.sh
Labels: unattended

#1000 Fixed the logger for the unattended installer [master]
  unattended_scripts/elastic-stack/unattended-installation/all-in-one-installation.sh
  unattended_scripts/elastic-stack/unattended-installation/distributed/elastic-stack-installation.sh
  unattended_scripts/open-distro/tools/wazuh-passwords-tool.sh
  unattended_scripts/open-distro/unattended-installation/distributed/elastic-stack-installation.sh
  unattended_scripts/open-distro/unattended-installation/unattended-installation.sh
Labels: unattended

#965 Removed usage of echo to populate instances.yml, changed for template and sed [4.2]
  unattended_scripts/open-distro/unattended-installation/unattended-installation.sh
Labels: unattended

#962 Removed usage of echo to populate instances.yml, changed for template and sed [stable]
  unattended_scripts/open-distro/unattended-installation/unattended-installation.sh
Labels: unattended

#964 Removed usage of echo to populate instances.yml, changed for template and sed [master]
  unattended_scripts/open-distro/unattended-installation/unattended-installation.sh
Labels: unattended

#1020 Removed warning and added text in wazuh-passwords-tool.sh final message [4.3]
  unattended_scripts/open-distro/tools/wazuh-passwords-tool.sh
Labels: unattended

#1019 Removed warning and added text in wazuh-passwords-tool.sh final message [4.2]
  unattended_scripts/open-distro/tools/wazuh-passwords-tool.sh
Labels: unattended

#1018 Removed warning and added text in wazuh-passwords-tool.sh final message [stable]
  unattended_scripts/open-distro/tools/wazuh-passwords-tool.sh
Labels: unattended

#1017 Removed warning and added text in wazuh-passwords-tool.sh final message [master]
  unattended_scripts/open-distro/tools/wazuh-passwords-tool.sh
Labels: unattended
