Repository wazuh/wazuh-packages, pull requests merged in 2021-09, with the labels that each got.

#849 4.2 fix unattended changes
  ova/.gitignore
  ova/Vagrantfile
  ova/assets/custom/messages.sh
  ova/assets/steps.sh
  ova/generate_ova.sh
  ova/provision.sh
Labels: ova

#853 Bump unattended resources to 4.2.2
  resources/elastic-stack/unattended-installation/all-in-one-installation.sh
  resources/elastic-stack/unattended-installation/distributed/elastic-stack-installation.sh
  resources/open-distro/unattended-installation/all-in-one-installation.sh
  resources/open-distro/unattended-installation/distributed/elastic-stack-installation.sh
  resources/open-distro/unattended-installation/distributed/wazuh-server-installation.sh
  resources/open-distro/unattended-installation/unattended-installation.sh
Labels: bump, unattended

#850 Ova 4.2 to master
  ova/.gitignore
  ova/Config_files/api_config.json
  ova/Config_files/default_index.json
  ova/Config_files/elasticsearch.conf
  ova/Config_files/elasticsearch.jvm
  ova/Config_files/elasticsearch.yml
  ova/Config_files/kibana
  ova/Config_files/kibana.service
  ova/Config_files/kibana.yml
  ova/Config_files/logstash.jvm
  ova/Config_files/logstash.yml
  ova/Config_files/ossec.conf
  ova/Libraries/automatic_set_ram.sh
  ova/Libraries/elastic_functions.sh
  ova/Libraries/provision-opendistro.sh
  ova/Vagrantfile
  ova/assets/custom/automatic_set_ram.sh
  ova/assets/custom/customWelcomeKibana.css
  ova/assets/custom/grub/grub
  ova/assets/custom/grub/wazuh.png
  ova/assets/custom/messages.sh
  ova/assets/custom/removeVagrant.service
  ova/assets/custom/removeVagrant.sh
  ova/assets/postProvision.sh
  ova/assets/steps.sh
  ova/generate_ova.sh
  ova/provision.sh
  ova/setOVADefault.sh
Labels: ova

#851 Ova 4.2 to 5.0-dev
  ova/.gitignore
  ova/Config_files/api_config.json
  ova/Config_files/default_index.json
  ova/Config_files/elasticsearch.conf
  ova/Config_files/elasticsearch.jvm
  ova/Config_files/elasticsearch.yml
  ova/Config_files/kibana
  ova/Config_files/kibana.service
  ova/Config_files/kibana.yml
  ova/Config_files/logstash.jvm
  ova/Config_files/logstash.yml
  ova/Config_files/ossec.conf
  ova/Libraries/automatic_set_ram.sh
  ova/Libraries/elastic_functions.sh
  ova/Libraries/provision-opendistro.sh
  ova/Vagrantfile
  ova/assets/custom/automatic_set_ram.sh
  ova/assets/custom/customWelcomeKibana.css
  ova/assets/custom/grub/grub
  ova/assets/custom/grub/wazuh.png
  ova/assets/custom/messages.sh
  ova/assets/custom/removeVagrant.service
  ova/assets/custom/removeVagrant.sh
  ova/assets/postProvision.sh
  ova/assets/steps.sh
  ova/generate_ova.sh
  ova/provision.sh
  ova/setOVADefault.sh
Labels: ova

#836 Added unattended script 4.0
  resources/elastic-stack/elasticsearch/7.x/elasticsearch.yml
  resources/elastic-stack/elasticsearch/7.x/elasticsearch_all_in_one.yml
  resources/elastic-stack/elasticsearch/7.x/elasticsearch_cluster.yml
  resources/elastic-stack/elasticsearch/7.x/elasticsearch_cluster_initial_node.yml
  resources/elastic-stack/elasticsearch/7.x/elasticsearch_cluster_subsequent_nodes.yml
  resources/elastic-stack/filebeat/7.x/filebeat.yml
  resources/elastic-stack/filebeat/7.x/filebeat_all_in_one.yml
  resources/elastic-stack/filebeat/7.x/filebeat_elastic_cluster.yml
  resources/elastic-stack/instances_aio.yml
  resources/elastic-stack/kibana/7.x/kibana.yml
  resources/elastic-stack/kibana/7.x/kibana_all_in_one.yml
  resources/elastic-stack/unattended-installation/all-in-one-installation.sh
  resources/elastic-stack/unattended-installation/distributed/elastic-stack-installation.sh
  resources/elastic-stack/unattended-installation/distributed/templates/config.yml
  resources/elastic-stack/unattended-installation/distributed/templates/config_cluster.yml
  resources/elastic-stack/unattended-installation/distributed/templates/elasticsearch_unattended.yml
  resources/elastic-stack/unattended-installation/distributed/templates/filebeat.yml
  resources/elastic-stack/unattended-installation/distributed/templates/kibana_unattended.yml
  resources/elastic-stack/unattended-installation/distributed/wazuh-server-installation.sh
  resources/open-distro/elasticsearch/7.x/elasticsearch.yml
  resources/open-distro/elasticsearch/7.x/elasticsearch_all_in_one.yml
  resources/open-distro/elasticsearch/7.x/elasticsearch_cluster_initial_node.yml
  resources/open-distro/elasticsearch/7.x/elasticsearch_cluster_subsequent_nodes.yml
  resources/open-distro/elasticsearch/7.x/wazuh-template.json
  resources/open-distro/elasticsearch/roles/internal_users.yml
  resources/open-distro/elasticsearch/roles/roles.yml
  resources/open-distro/elasticsearch/roles/roles_mapping.yml
  resources/open-distro/filebeat/7.x/filebeat.yml
  resources/open-distro/filebeat/7.x/filebeat_all_in_one.yml
  resources/open-distro/filebeat/7.x/filebeat_elastic_cluster.yml
  resources/open-distro/filebeat/7.x/wazuh-module/_meta/config.yml
  resources/open-distro/filebeat/7.x/wazuh-module/_meta/docs.asciidoc
  resources/open-distro/filebeat/7.x/wazuh-module/_meta/fields.yml
  resources/open-distro/filebeat/7.x/wazuh-module/alerts/config/alerts.yml
  resources/open-distro/filebeat/7.x/wazuh-module/alerts/ingest/pipeline.json
  resources/open-distro/filebeat/7.x/wazuh-module/alerts/manifest.yml
  resources/open-distro/filebeat/7.x/wazuh-module/archives/config/archives.yml
  resources/open-distro/filebeat/7.x/wazuh-module/archives/ingest/pipeline.json
  resources/open-distro/filebeat/7.x/wazuh-module/archives/manifest.yml
  resources/open-distro/filebeat/7.x/wazuh-module/module.yml
  resources/open-distro/kibana/7.x/kibana.yml
  resources/open-distro/kibana/7.x/kibana_all_in_one.yml
  resources/open-distro/searchguard/multi-node/search-guard-multi-node.yml
  resources/open-distro/searchguard/multi-node/search-guard.yml
  resources/open-distro/searchguard/search-guard-aio.yml
  resources/open-distro/searchguard/single-node/search-guard-multi-node.yml
  resources/open-distro/searchguard/single-node/search-guard.yml
  resources/open-distro/unattended-installation/all-in-one-installation.sh
  resources/open-distro/unattended-installation/distributed/elastic-stack-installation.sh
  resources/open-distro/unattended-installation/distributed/templates/config.yml
  resources/open-distro/unattended-installation/distributed/templates/config_cluster.yml
  resources/open-distro/unattended-installation/distributed/templates/elasticsearch_unattended.yml
  resources/open-distro/unattended-installation/distributed/templates/filebeat.yml
  resources/open-distro/unattended-installation/distributed/templates/kibana_unattended.yml
  resources/open-distro/unattended-installation/distributed/templates/search-guard-unattended.yml
  resources/open-distro/unattended-installation/distributed/wazuh-server-installation.sh
Labels: unattended

#785 Rename Wazuh configuration files
  aix/SPECS/5.0.0/wazuh-agent-5.0.0-aix.spec
  debs/Debian/amd64/Dockerfile
  debs/SPECS/5.0.0/wazuh-agent/debian/postinst
  debs/SPECS/5.0.0/wazuh-agent/debian/preinst
  debs/SPECS/5.0.0/wazuh-agent/debian/prerm
  debs/SPECS/5.0.0/wazuh-agent/debian/rules
  debs/SPECS/5.0.0/wazuh-manager/debian/postinst
  debs/SPECS/5.0.0/wazuh-manager/debian/postrm
  debs/SPECS/5.0.0/wazuh-manager/debian/preinst
  debs/SPECS/5.0.0/wazuh-manager/debian/prerm
  debs/SPECS/5.0.0/wazuh-manager/debian/rules
  macos/package_files/5.0.0/build.sh
  macos/package_files/5.0.0/postinstall.sh
  macos/package_files/5.0.0/preinstall.sh
  macos/specs/5.x/wazuh-agent-5.0.0.pkgproj
  rpms/SPECS/5.0.0/wazuh-agent-5.0.0.spec
  rpms/SPECS/5.0.0/wazuh-manager-5.0.0.spec
  solaris/solaris10/postinstall.sh
  solaris/solaris10/preinstall.sh
  solaris/solaris11/SPECS/template_agent_v5.0.0.json
  solaris/solaris11/generate_wazuh_packages.sh
  wpk/run.sh
Labels: package, all operating systems

#905 Bump unattended scripts to version 4.2.2.
  VERSION
  unattended_scripts/elastic-stack/unattended-installation/all-in-one-installation.sh
  unattended_scripts/elastic-stack/unattended-installation/distributed/elastic-stack-installation.sh
  unattended_scripts/open-distro/unattended-installation/all-in-one-installation.sh
  unattended_scripts/open-distro/unattended-installation/distributed/elastic-stack-installation.sh
  unattended_scripts/open-distro/unattended-installation/distributed/wazuh-server-installation.sh
  unattended_scripts/open-distro/unattended-installation/unattended-installation.sh
Labels: unattended
