Repository wazuh/wazuh-packages, pull requests merged in 2021-12, with the labels that each got.

#1029 Removed cd usages from unattended installer and fixed uninstaller [master]
  unattended_scripts/open-distro/unattended-installation/unattended-installation.sh
Labels: unattended

#1013 Removed cd usages in unattended installer and fixed uninstaller [4.2]
  unattended_scripts/open-distro/unattended-installation/unattended-installation.sh
Labels: cicd

#1012 Removed cd usages in unattended installer and fixed uninstaller [4.3]
  unattended_scripts/open-distro/unattended-installation/unattended-installation.sh
Labels: cicd

#1011 Removed cd usages in unattended installer and fixed uninstaller [stable]
  unattended_scripts/open-distro/unattended-installation/unattended-installation.sh
Labels: cicd

#1056 Change realpath to readlink command - Unify unattended
  unattended_scripts/unattended_installation.sh
Labels: unattended

#1048 Bump unattended 4.3.0
  unattended_scripts/elastic-stack/unattended-installation/all-in-one-installation.sh
  unattended_scripts/elastic-stack/unattended-installation/distributed/elastic-stack-installation.sh
  unattended_scripts/open-distro/tools/certificate-utility/wazuh-cert-tool.sh
  unattended_scripts/open-distro/tools/wazuh-passwords-tool.sh
  unattended_scripts/open-distro/unattended-installation/all-in-one-installation.sh
  unattended_scripts/open-distro/unattended-installation/distributed/elastic-stack-installation.sh
  unattended_scripts/open-distro/unattended-installation/distributed/wazuh-server-installation.sh
  unattended_scripts/open-distro/unattended-installation/unattended-installation.sh
Labels: bump, unattended

#1043 Change health check call in AIO unify
  unattended_scripts/install_functions/opendistro/common.sh
  unattended_scripts/install_functions/opendistro/elasticsearch.sh
  unattended_scripts/install_functions/opendistro/filebeat.sh
  unattended_scripts/install_functions/opendistro/kibana.sh
  unattended_scripts/install_functions/opendistro/wazuh-cert-tool.sh
  unattended_scripts/install_functions/opendistro/wazuh.sh
  unattended_scripts/tools/wazuh-cert-tool.sh
  unattended_scripts/wazuh_install.sh
Labels: unattended

#1065 Fixed elasticsearch distributed installer
  unattended_scripts/install_functions/opendistro/elasticsearch.sh
  unattended_scripts/install_functions/opendistro/kibana.sh
Labels: unattended

#1033 Unattended changes the login screen in kibana [unified]
  ova/assets/steps.sh
  ova/provision.sh
  unattended_scripts/config/opendistro/kibana/customWelcomeKibana.css
  unattended_scripts/install_functions/opendistro/kibana.sh
Labels: unattended

#1075 Kibana all-in-one is initialized in the same way as the distributed installation
  unattended_scripts/install_functions/opendistro/common.sh
  unattended_scripts/install_functions/opendistro/elasticsearch.sh
  unattended_scripts/install_functions/opendistro/filebeat.sh
  unattended_scripts/install_functions/opendistro/kibana.sh
  unattended_scripts/install_functions/opendistro/wazuh-cert-tool.sh
  unattended_scripts/tools/wazuh-passwords-tool.sh
  unattended_scripts/wazuh_install.sh
Labels: unattended

#1089 Removed the parameters for node names in the unattended installer
  unattended_scripts/wazuh_install.sh
Labels: unattended

#1090 Add log4j remediation
  unattended_scripts/install_functions/opendistro/elasticsearch.sh
Labels: unattended

#1051 Update g++ to fix undefined behavior on opensuse tumbleweed
  debs/Debian/amd64/Dockerfile
  debs/Debian/arm64/Dockerfile
  debs/Debian/armhf/Dockerfile
  debs/Debian/i386/Dockerfile
  debs/Debian/ppc64le/Dockerfile
  rpms/CentOS/5/i386/Dockerfile
  rpms/CentOS/5/x86_64/Dockerfile
  rpms/CentOS/6/i386/Dockerfile
  rpms/CentOS/6/x86_64/Dockerfile
  rpms/CentOS/7/aarch64/Dockerfile
  rpms/CentOS/7/armv7hl/Dockerfile
  rpms/CentOS/7/ppc64le/Dockerfile
  wpk/linux/x86_64/Dockerfile
Labels: rpm, deb, compilation

#1080 Add progress bar to unattended installation
  unattended_scripts/install_functions/opendistro/common.sh
  unattended_scripts/install_functions/opendistro/elasticsearch.sh
  unattended_scripts/install_functions/opendistro/filebeat.sh
  unattended_scripts/install_functions/opendistro/kibana.sh
  unattended_scripts/install_functions/opendistro/wazuh.sh
  unattended_scripts/tools/wazuh-cert-tool.sh
  unattended_scripts/tools/wazuh-passwords-tool.sh
  unattended_scripts/wazuh_install.sh
Labels: unattended

#1088 Unify config.yml standard
  .gitignore
  unattended_scripts/config.yml
  unattended_scripts/config/opendistro/certificate/config.yml
  unattended_scripts/config/opendistro/certificate/config_aio.yml
  unattended_scripts/config/opendistro/certificate/instances.yml
  unattended_scripts/config/opendistro/certificate/instances_aio.yml
  unattended_scripts/install_functions/opendistro/common.sh
  unattended_scripts/install_functions/opendistro/elasticsearch.sh
  unattended_scripts/install_functions/opendistro/filebeat.sh
  unattended_scripts/install_functions/opendistro/kibana.sh
  unattended_scripts/install_functions/opendistro/wazuh-cert-tool.sh
  unattended_scripts/install_functions/opendistro/wazuh.sh
  unattended_scripts/instances.yml
  unattended_scripts/tools/wazuh-cert-tool.sh
  unattended_scripts/tools/wazuh-passwords-tool.sh
  unattended_scripts/wazuh_cluster_config.yml
  unattended_scripts/wazuh_install.sh
Labels: unattended

#1110 Added start cluster option to unattended
  unattended_scripts/install_functions/opendistro/common.sh
  unattended_scripts/install_functions/opendistro/elasticsearch.sh
  unattended_scripts/install_functions/opendistro/filebeat.sh
  unattended_scripts/install_functions/opendistro/kibana.sh
  unattended_scripts/install_functions/opendistro/wazuh-cert-tool.sh
  unattended_scripts/install_functions/opendistro/wazuh.sh
  unattended_scripts/wazuh_install.sh
Labels: unattended

#1098 Added overwrite and uninstall options to unify and check for argument errors
  unattended_scripts/install_functions/opendistro/common.sh
  unattended_scripts/install_functions/opendistro/elasticsearch.sh
  unattended_scripts/install_functions/opendistro/filebeat.sh
  unattended_scripts/install_functions/opendistro/kibana.sh
  unattended_scripts/install_functions/opendistro/wazuh-cert-tool.sh
  unattended_scripts/install_functions/opendistro/wazuh.sh
  unattended_scripts/wazuh_install.sh
Labels: unattended

#1113 Added a spinner during the installation that shows it is not blocked
  unattended_scripts/install_functions/opendistro/common.sh
  unattended_scripts/wazuh_install.sh
Labels: unattended

#1135 Added 'function' keyword to all functions in the installer
  unattended_scripts/install_functions/opendistro/common.sh
  unattended_scripts/install_functions/opendistro/elasticsearch.sh
  unattended_scripts/install_functions/opendistro/filebeat.sh
  unattended_scripts/install_functions/opendistro/kibana.sh
  unattended_scripts/install_functions/opendistro/wazuh-cert-tool.sh
  unattended_scripts/install_functions/opendistro/wazuh.sh
  unattended_scripts/wazuh_install.sh
Labels: unattended
