Repository wazuh/wazuh-packages, pull requests merged in 2021-04, with the labels that each got.

#713 8029 logcollector as wazuh module
  rpms/SPECS/5.0.0/wazuh-manager-5.0.0.spec
  solaris/solaris11/SPECS/template_agent_v5.0.0.json
Labels: SPECS

#719 Fix opendistro-performance-analyzer plugin name in OVA
  ova/Libraries/provision-opendistro.sh
Labels: ova

#721 Fix WPK compilation and library copy
  wpk/linux/x86_64/Dockerfile
  wpk/run.sh
Labels: type: bug

#714 8030 - Syscheckd as wazuh module.
  rpms/SPECS/5.0.0/wazuh-manager-5.0.0.spec
  solaris/solaris10/checkinstall.sh
  solaris/solaris10/pkginfo
  solaris/solaris11/SPECS/template_agent_v5.0.0.json
Labels: SPECS

#715 8028 - execd as wazuh module.
  rpms/SPECS/5.0.0/wazuh-manager-5.0.0.spec
  solaris/solaris11/SPECS/template_agent_v5.0.0.json
Labels: SPECS

#739 Fix aix 6.1 checksum generation
  aix/generate_wazuh_packages.sh
Labels: type: bug

#740 Fix aix 6.1 checksum generation
  aix/generate_wazuh_packages.sh
Labels: type: bug
