Repository wazuh/wazuh-packages, pull requests merged in 2022-01, with the labels that each got.

#1140 Changed condition to check node names
  unattended_scripts/install_functions/opendistro/common.sh
  unattended_scripts/wazuh_install.sh
Labels: unattended

#1142 Fixes the calls to the logger in function checkPreviousCertificates
  unattended_scripts/install_functions/opendistro/common.sh
Labels: unattended

#1126 Add new `wodles/gcloud` files and folders to Solaris11 SPEC
  CHANGELOG.md
  solaris/solaris11/SPECS/template_agent_v4.3.0.json
Labels: solaris

#1157 Wazuh install improvements
  .gitignore
  unattended_installer/README.md
  unattended_installer/install_functions/opendistro/checks.sh
  unattended_installer/install_functions/opendistro/common.sh
  unattended_installer/install_functions/opendistro/elasticsearch.sh
  unattended_installer/install_functions/opendistro/filebeat.sh
  unattended_installer/install_functions/opendistro/kibana.sh
  unattended_installer/install_functions/opendistro/wazuh-cert-tool.sh
  unattended_installer/install_functions/opendistro/wazuh-passwords-tool.sh
  unattended_installer/install_functions/opendistro/wazuh.sh
  unattended_installer/wazuh_install.sh
Labels: unattended

#1170 Unit testing using Bach [wazuh.sh]
  tests/unattended/unit/suites/test-wazuh.sh
  tests/unattended/unit/unit-tests.sh
Labels: unattended

#1180 Unit testing using Bach [filebeat.sh]
  tests/unattended/unit/suites/test-filebeat.sh
  tests/unattended/unit/unit-tests.sh
  unattended_installer/install_functions/opendistro/checks.sh
  unattended_installer/install_functions/opendistro/filebeat.sh
Labels: unattended

#1182 Unit testing using Bach [kibana.sh]
  tests/unattended/unit/suites/test-kibana.sh
  tests/unattended/unit/unit-tests.sh
Labels: unattended

#1185 Fixes bugs in unit-tests.sh
  tests/unattended/unit/unit-tests.sh
Labels: unattended

#1187 Unit testing using Bach [elasticsearch.sh]
  tests/unattended/unit/suites/test-elasticsearch.sh
  tests/unattended/unit/suites/test-kibana.sh
  tests/unattended/unit/unit-tests.sh
Labels: unattended

#1167 Add azure wodle to Solaris11 and RPM agent SPEC files
  CHANGELOG.md
  rpms/SPECS/4.4.0/wazuh-agent-4.4.0.spec
  solaris/solaris11/SPECS/template_agent_v4.4.0.json
Labels: rpm, solaris

#1204 Fixed errors detected by the unit testing [wazuh-passwords-tool.sh]
  unattended_installer/install_functions/opendistro/wazuh-passwords-tool.sh
Labels: unattended
