Repository wazuh/wazuh-packages, pull requests merged in 2022-04, with the labels that each got.

#1468 Improve installation assistan log messages
  unattended_installer/cert_tool/certFunctions.sh
  unattended_installer/cert_tool/certMain.sh
  unattended_installer/install_functions/checks.sh
  unattended_installer/install_functions/installCommon.sh
  unattended_installer/install_functions/installMain.sh
Labels: unattended

#1445 Modify linux wpk generation script to support symbols
  wpk/run.sh
Labels: wpk

#1452 Download cv2pdb, generate zip file with debug symbols for winagent
  windows/Dockerfile
  windows/entrypoint.sh
  windows/generate_compiled_windows_agent.sh
Labels: package, windows
