Repository wazuh/wazuh-packages, pull requests merged in 2022-03, with the labels that each got.

#1274 Fix partition size in AIX package generation
  CHANGELOG.md
  aix/generate_wazuh_packages.sh
Labels: aix

#1302 Fix user deletion warning RPM manager
  CHANGELOG.md
  rpms/SPECS/4.3.0/wazuh-agent-4.3.0.spec
  rpms/SPECS/4.3.0/wazuh-manager-4.3.0.spec
Labels: rpm

#1314 Adapt ova to new unattended with wazuh-dashboard and wazuh-indexer
  VERSION
  ova/Vagrantfile
  ova/assets/custom/grub/wazuh.png
  ova/assets/custom/messages.sh
  ova/assets/postProvision.sh
  ova/assets/steps.sh
  ova/generate_ova.sh
  ova/provision.sh
  ova/setOVADefault.sh
  ova/wazuh_ovf_template
  unattended_installer/builder.sh
  unattended_installer/install_functions/dashboard.sh
  unattended_installer/install_functions/installCommon.sh
Labels: ova

#1329 Remove unused svc from solaris 11 package generation
  solaris/solaris11/generate_wazuh_packages.sh
Labels: solaris

#1384 Add `wodles/gcloud/exceptions.py` file to Solaris11 SPECS
  CHANGELOG.md
  solaris/solaris11/SPECS/template_agent_v4.4.0.json
Labels: solaris

#1389 Modify HP-UX generate packages script to update gcc and cmake
  hp-ux/generate_wazuh_packages.sh
Labels: hp-ux, compilation
